BODY {
	margin: 0px;
        color: #333;
        background: #364C6C;
}

#topBar {
	border-bottom : 1px solid Black;
}

A {
	font-size: 16px;
	color: black;
	text-decoration : none;
}

A:hover{
	font-size: 16px;
	color: #D2691E;
	text-decoration : none;
}

INPUT{
	border: 1px solid black;
        background-color: lightgray;

}

A.button{
	font-size: 16px;
	color: green;
	text-decoration : none;	
	font-family: Arial, Helvetica, sans-serif;		
}

#output INPUT{
	border: 0px solid red;	
}

#header {
	border-bottom:  1px solid #BBD8E9;		
	font-family: Arial, Helvetica, sans-serif;	
	font-size: 20px;
	color: white;
#        background-color: #ABCD;
#	background-color: #222;
        background-color: #708BB1;

	padding: 7px;
	margin-bottom: 15px;
	font-weight : bold;	
}

#header A{
	color: white;
}

#header A:hover{
	color: #D2691E;	
}

#header #title{
	display: inline;
	width: 70%;
	font-weight: normal;
}

#header #language{
	font-size: 14px;
	text-align: right;
	display: inline;	
	width: 30%;	
}

#main_group {
	margin-left: 10px;
	margin-right: 10px;		
	border: 1px solid #999999;
	height : 50%;
        background-color: #ABCD;
}

#left{
	margin-left: 10px;
	margin-right: 10px;
                background-color: #ABCD;
}

#right{
	margin-right: 10px;
                background-color: #ABCD;
}

#group{
	border: 1px solid #999999;
	margin-top: 10px;
	margin-bottom: 10px;
	height : 100%;
}

#output{
        background-color=#ABCD;

	}
#group_title{
	border-bottom: 1px solid #999999;
#	background-color: #F2F2F2;
	background-color: #ACD;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	padding: 5px;
	color: #666666;
	font-weight : bold;
}

#group_content{
	font-family: Arial, Helvetica, sans-serif;
	padding: 5px;
#       background-color: #364C6C;
}

#menu_item{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;	
	padding: 5px;
	width: 100%;
#        color: green;

}

.btn {
	cursor: pointer;
	display: inline-block;	
	color: white;
#        background-color: #364C6C;
#	background-color: #0064CD;
#	background-repeat: repeat-x;
#	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
#	background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
#	background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
#	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
#	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
#	background-image: -o-linear-gradient(top, #049cdb, #0064cd);
#	background-image: linear-gradient(top, #049cdb, #0064cd);
#	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
#	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
#	border-color: #0064CD #0064CD #003F81;
#	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
#	border: 0;
	padding: 8px;
	font-size: 13px;
#	border: 1px solid #CCC;
#	-webkit-border-radius: 4px;
#	border-radius: 4px;
#	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	
        background-color: #364C6C;
}