body
{
	font: 12px sans-serif;
	margin : 0 0 0 0;
}

table
{
	font: 12px sans-serif;
}

input, textarea, select
{
	font-family : Verdana;
	font-size: 12px;
	vertical-align : top;	
}

.UPDATE_X-submit
{
	text-decoration: none;
	color : Black;
	font-weight : bold;
}

.UPDATE_X-submit:hover
{
	background-color : LightSlateGray;
}

.PROJECT_LINE
{
}

.STYLE2_left
{
}

.PROJECT_LINE_update_x
{
	font-weight : bold;
	color : #FFCC66;
}

.PROJECT_LINE_project_name, .PROJECT_LINE_user
{
	color : Gray;
}

.PROJECT_LINE_info
{
	font-weight : bold;
}

.UPDATE_X-inform-selectedId
{
	color : Gray;
}

.STYLE2-buttons
{
}

.ROOT
{
	border : thin groove Olive;
}

.GROUP_BOX
{
	width: 90%;
	padding: 2px;
	border : thin groove Olive;
}


.STYLE1_elementLabel
{
	color : Maroon;
	font-weight : bold;
}

.STYLE1_editLabel
{
	color : Maroon;
	text-align : right;
}

.UPDATE_X-input-repeat-list
{
	vertical-align : top;
	font-size: 12px;
	font-weight : bold;
	color : Olive;
	background-color : #E6E6E6;
	font-family : monospace;
}

.DOCUMENTS_listHeader
{
	border : thin groove;
	background-color : Silver;
	font-weight : bold;
	padding-top : 1px;
	padding-bottom : 1px;
}

.DOCUMENTS_line1
{
}

.DOCUMENTS_line2
{
}

.DOCUMENTS_column
{
	border-bottom: 1px solid #C0C0A3;
}