/* DEBUG CLASS */
.debug {
/*       display: none; */
       }

body {
   background: #fff;
   margin: 0;
   padding: 0;
   color: #000;
   font: x-small/1.5em Georgia,Serif;
   voice-family: "\"}\""; voice-family: inherit;
   font-size: small;

/* direction: rtl; unicode-bidi: embed; */

} html>body {font-size: small;}


/* INSTITUTION */
#institution {
   width: 100%;
   background: #FFF;
   line-height: normal;
}



/* INFOBAR */
#infobar {
   width: 100%;
   background: #AAB0A2;
   font-size: 80%;
   line-height: normal;
}

#infobar  a {
   padding: 5px;
   text-decoration: none;
   color: #666;
}

#infobar  #operator {
   width: 100%;
   text-align: right;
   color: #000;
}
#infobar  #operator a {
   font-size: 80%;
   padding: 5px;
   color: #000;
}



/* WEBSBAR */
/*#websbar {
   width: 100%;
   background: #AAB0A2;
   font-size: 80%;
   line-height: normal;

 direction: rtl; unicode-bidi: embed;
}
*/
#websbar {
   width: 100%;
   background: #AAB0A2;
   font-size: 80%;
   line-height: normal;
}

#websbar div {
   width: 100%;
   background: #AAB0A2;
   font-size: 80%;
   line-height: normal;

/* direction: rtl; unicode-bidi: embed; */
}


#websbar  a {
   padding: 5px;
   text-decoration: none;
   color: #666;
}

#websbar ul {
   margin: 0;
   padding: 5px 0 2px 10px;
   list-style: none;
   border-bottom: solid 1px #987;

display: inline-table;
/* direction: rtl; unicode-bidi: embed; */
}

#websbar li {
   margin: 0;
   padding: 2px 5px 2px 5px;
   border-left: solid 1px #987;
   color: #666;


display: inline;
/* direction: rtl; unicode-bidi: embed; */
}

#websbar li.webs {
   margin: 0;
   padding: 2px 5px 2px 5px;

   border-left: solid 1px #987;
   background: #AAB0A2;

display: table-cell;
/* direction: rtl; unicode-bidi: embed; */
}

#websbar li.activeweb {
   margin: 0;
   padding: 2px 5px 2px 5px;

   border-left: solid 1px #987;
   border-right: solid 1px #987;
   border-top: solid 1px #987;
   border-bottom: solid 1px #CAD0C2;
   background: #CAD0C2;
   font-weight: bold;

display: table-cell;
/* direction: rtl; unicode-bidi: embed; */
}


#websbar  li.activeweb a {
   color: #000;
}




/* NAVBAR */
#navbar {
   width: 100%;
   background: #CAD0C2;
   font-size: 80%;
   line-height: normal;
}

#navbar div {
   width:100%;
   background:#CAD0C2;
   font-size:80%;
   line-height:normal;

/* direction: rtl; unicode-bidi: embed; */
}


#navbar  a {
   padding: 5px;
   text-decoration: none;
   color: #666;
}

#navbar ul {
   margin: 0;
   padding: 10px 0 2px 10px;
   list-style: none;
   border-bottom: solid 1px #BA9;

display: inline-table;
/* direction: rtl; unicode-bidi: embed; */
}

#navbar li {
   margin: 0;
   padding: 2px 5px 2px 5px;
   display: inline;
   border-left: solid 1px #BA9;


display: inline;
display: table-cell;
/* direction: rtl; unicode-bidi: embed; */
}

#navbar #current {
   margin: 0;
   padding: 2px 5px 2px 5px;
   display: inline;
   border-left: solid 1px #BA9;
   border-right: solid 1px #BA9;
   border-top: solid 1px #BA9;
   border-bottom: solid 1px #F1F0E9;
   background: #F1F0E9;
   font-weight: bold;
   color: #000;

display: table-cell;
/* direction: rtl; unicode-bidi: embed; */
}

#navbar  #current a {
   color: #000;
}




/* CONTENT */
#content {
   clear: both;
}

#content h1 {
   display: none;
}

#content h2 {
   background: #F1F0E9;
   color: #765;
   margin: 0;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-left: 5px;
}

#content h3 {
   background: #E1E0D9;
   color: #765;
   margin: 0;
   margin-top: 10px;
   padding-top: 5px;
   padding-bottom: 3px;
   padding-left: 5px;
}

#content h4 {
   background: #D1D0C9;
   color: #876;
   margin: 0;
   margin-top: 10px;
   margin-left: 15px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
}


#content p {
   padding-left: 10px;
   }

#content p.error {
  background: #F74;
  color: #FFF;
  text-align: center;
  margin: 10px 25px;
}

#content p.warn {
  background: #FF2;
  color: #666;
  text-align: center;
  margin: 10px 25px;
}

#content form {
   margin-top: 5px;
   padding: 0 0px 0 0px;
}

#content .query {
  background: #FF7;
  color: #000;
  text-align: center;
  margin: 0.5em;
  padding: 0.25em;
}



/* CONTENT STANDARD TABLES */
#content th {
   background: #F1F0E9;
   color: #765;
}

#content td {
   border-bottom: 1px solid #BA9;
   padding-left: 5px;
   padding-right: 5px;
}

#content td.marked {
   background: #F1F0E9;
}



/* CONTENT RESULT TABLE */
#content #result {
   margin: 10px;
   padding: 5px;
}

#content #result th {
   background: #F1F0E9;
   color: #765;
}

#content #result td {
   border-bottom: 1px solid #BA9;
   padding-left: 5px;
   padding-right: 5px;
}

/* CONTENT TEXTAREAS */
#content textarea.xmleditor {
   font-size: 0.9em;
   margin: 1em;
   width: 95%;

   /* xml editors should always be LTR */
   direction: ltr;
   unicode-bidi: bidi-override;
}