@charset "iso-8859-1";

BODY {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	MARGIN-LEFT: 0px; 
	MARGIN-RIGHT: 0px; 
	MARGIN-TOP: 0px; 
	WIDTH: 100%
}	
.txt1 {
	FONT-SIZE: 12px;
    MARGIN-bottom: 1px;
	MARGIN-LEFT: 1px;
    MARGIN-RIGHT: 1px;
	MARGIN-top: 1px;
	FONT: 12px Verdana, Arial, Helvetica, sans-serif;
	COLOR: #4aa252;	
	TEXT-DECORATION: none		
}
.txt1:hover {
	TEXT-DECORATION: underline
}
.textNove {
	FONT-SIZE: 12px; 
	COLOR: #111111; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}
.titu {
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 12px; 
	color: #696565; 
	font-weight: bold; font-style: italic; padding-left: 10px; background-color: #DFDBEB;
}
.textBot {
	font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; color: #5C5C5C; font-weight: bold; text-decoration: none; padding-bottom: 1px; padding-top: 1px;
}
a.textBot {
color: #5C5C5C; text-decoration: none;
}
a.textBot:link {
	text-decoration: none;
}
a.textBot:hover {
	text-decoration: underline;
}
/*#heading classes */
	.heading {
		background: #364c6c;
	}
	.institutionalInfo {		
		float: left;
		width: 60%;
		padding: 15px 0px 14px 15px;
	}
	.institutionalInfo H1, .institutionalInfo H2 {
		margin: 0px 0px 0px 0px;
	}
	.institutionalInfo H1, .institutionalInfo H2 {
		letter-spacing: -1px;
	}
	.institutionalInfo H1 {
		font-family: Verdana, Arial, Verdana, Helvetica;
		font-size: 100%;
		color: #fff;		
		font-weight: bold;
	}
	.institutionalInfo H2 {
		font-weight: normal;
		font-size: 100%;
		color: #c3d7f4;
	}
	.userInfo, .userInfo A, .language, .language A {
		color: #fff;
	}
	.userInfo A.button_logout {
		background: url('../images/button_logout.gif') no-repeat center right;
		text-decoration: none
	}
	.userInfo A.button_logout:hover SPAN {
		text-decoration: underline;
	}
	.userInfo {
		float: right;
		width: 30%;
		text-align: right;
		white-space: nowrap;
		padding: 15px 15px 0px 0px;
	}
	/* style rule: para correção de erros para float */
	DIV.spacer {
		font-size: 1px !important;
		margin: 0px !important;
		padding: 0px !important;
		float: none !important;
		clear: both !important;
		width: 100% !important;
		height: 1px !important;
	}	
	.userInfo {
		font-family: Verdana, Arial, Verdana, Helvetica;
		font-size: 10pt;
	}
	.language {
		float: right;
		width: 30%;
		text-align: right;
		white-space: nowrap;
		padding: 0px 47px 0px 0px;
	}
	.sectionInfo {
		background: #708bb1;
	}
	.breadcrumb H3 {
		font-size: 100%;
		color: #fff;
		display: inline;
		font-size: 11pt;
		font-weight: bold;
	}	
	.breadcrumb, .breadcrumb A {
		color: #bcd1ef;
	}
	.breadcrumb SUP {
		font-size: 45%;
	}
	.breadcrumb {
		font-size: 110%;  /*cambiado */
		float: left;
		width: 45%;
		padding: 11px 0px 11px 15px;
	}
	.actions, .actions A {
		color: #fff;
		text-decoration: none;
	}
	.actions {
		float: right;
		width: 50%;
		text-align: right;
		white-space: nowrap;
		padding: 2px 0px 5px 0px;
	}
	.actions A.defaultButton {
		float: right;
		margin-top: 3px;
	}
	.helper {
		padding: 0px 3px 3px 20px;		
		font-size: 10pt;
	}
	.helper A {
		color:#cddef6;			
	}
	.helper {
		background: url('../images/icon/helper_bg.png') no-repeat top left;
		color: #646567;
		background-color: #364c6c;
	}
	.searchBox .helper {
		position: absolute;
		top: 11px;
		right: 15px;
	}
	.language {
		width:140;font-size:10pt;font-family:arial narrow; padding-top: 3px;
	}		
	/* #END #heading classes */
	
	/*#homepage classes */
	.homepage .mainBox {

	}

	.homepage .mainBox .boxTop {
		background: url('../images/mainBox_boxTop_bg.gif') repeat-x top left;
	}

	.homepage .mainBox .boxBottom {
		background: url('../images/mainBox_boxTop_bg.gif') repeat-x bottom left;
	}

	.homepage .mainBox .boxContent {
		border-left: 1px solid #dbdee1;
		border-right: 1px solid #dbdee1;
		background: #fff;
	}

	.homepage .mainBox .boxTop .btLeft {
		background: url('../images/mainBox_btLeft.gif') no-repeat bottom left;
	}

	.homepage .mainBox .boxTop .btRight {
		background: url('../images/mainBox_btRight.gif') no-repeat bottom left;
	}

	.homepage .mainBox .boxBottom .bbLeft {
		background: url('../images/mainBox_bbLeft.gif') no-repeat bottom left;
	}

	.homepage .mainBox .boxBottom .bbRight {
		background: url('../images/mainBox_bbRight.gif') no-repeat bottom left;
	}

	.homepage .mainBoxHighlighted .boxContent {
		background: #fff url('../images/mainBox_boxContent_bg.gif') repeat-x bottom left;
		border-color: #b2c2d4
	}

	.homepage .mainBoxHighlighted .boxTop {
		background: url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x top left;
	}

	.homepage .mainBoxHighlighted .boxBottom {
		background: #eff3f8 url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x bottom left;
	}

	.homepage .mainBoxHighlighted .boxTop .btLeft {
		background: url('../images/mainBoxHighlighted_btLeft.gif') no-repeat bottom left;
	}

	.homepage .mainBoxHighlighted .boxTop .btRight {
		background: url('../images/mainBoxHighlighted_btRight.gif') no-repeat bottom left;
	}

	.homepage .mainBoxHighlighted .boxBottom .bbLeft {
		background: url('../images/mainBoxHighlighted_bbLeft.gif') no-repeat bottom left;
	}

	.homepage .mainBoxHighlighted .boxBottom .bbRight {
		background: url('../images/mainBoxHighlighted_bbRight.gif') no-repeat bottom left;
	}

	.homepage .mainBox .boxContent .sectionTitle H4 {
		font-size: 100%;
		font-weight: normal;
	}

	.homepage .mainBox .boxContent .sectionTitle H4 STRONG {
		font-size: 210%;
		color: #265182;
		font-weight: normal;
	}

	.homepage .mainBox .boxContent .sectionTitle SPAN {
		color: #4c4c4c;
	}

	.homepage .mainBox .titleSection .sectionIcon {
		background: url('../images/database.png') no-repeat center;
	}

	.homepage .mainBox .dbSection .sectionIcon {
		background: url('../images/database.png') no-repeat center;
	}

	.homepage .mainBox .searchSection .sectionIcon {
		background: url('../images/search.png') no-repeat center;
	}

	.homepage .mainBox .orderSection .sectionIcon {
		background: url('../images/icon/mainBox_titleSection.png') no-repeat center;
	}

	.homepage .mainBox .fascicleSection .sectionIcon {
		background: url('../images/icon/mainBox_fascicleSection.png') no-repeat center;
	}

	.homepage .mainBox .maskSection .sectionIcon {
		background: url('../images/icon/mainBox_maskSection.png') no-repeat center;
	}

	.homepage .mainBox .toolSection .sectionIcon {
		background: url('../images/icon/mainBox_toolSection.png') no-repeat center;
	}

	.homepage .mainBox .loanSection .sectionIcon {
		background: url('../images/icon/mainBox_loanSection.png') no-repeat center;
	}

	.homepage .mainBox .helpSection .sectionIcon {
		background: url('../images/icon/mainBox_helpSection.png') no-repeat center;
	}

	.homepage .mainBox .boxContent .sectionButtons A.defaultButton {
		color: #000;
	}


	.homepage .mainBox .boxContent .sectionButtons A.menuButton {
		color: #000;
	}

	.homepage .mainBox .boxContent .searchTitles .stInput LABEL {
		color: #4c4c4c;
	}

	.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		background: url('../images/searchTitles_textEntry_bg.gif') no-repeat top left;
		border: 0px none;
	}

	.homepage .mainBox A.defaultButton:hover IMG {
		background-color: #fff;
	}

	.homepage .mainBox A.menuButton:hover IMG {
		background-color: #fff;
	}
	.homepage {
		padding: 15px 15px 1px 15px;
	}
	.homepage .mainBox {
		position: relative;
		margin-bottom: 15px;
	}
	.homepage .mainBox .boxTop,
	.homepage .mainBox .boxBottom {
		height: 2px;
		clear: both;
	}
	.homepage .mainBox .boxTop .btLeft,
	.homepage .mainBox .boxTop .btRight,
	.homepage .mainBox .boxBottom .bbLeft,
	.homepage .mainBox .boxBottom .bbRight {
		width: 2px;
		height: 2px;
		font-size: 1px;		
	}
	.homepage .mainBox .boxTop .btLeft,
	.homepage .mainBox .boxBottom .bbLeft {
		float: left;
	}
	.homepage .mainBox .boxTop .btRight,
	.homepage .mainBox .boxBottom .bbRight {
		float: right;
	}
	.homepage .mainBox .boxContent {
		min-height: 101px;
		padding: 10px 10px 5px 10px;
	}
	.homepage .mainBox .boxContent .sectionIcon {
		float: left;
		width: 100px;
		height: 95px;
		margin-right: 5px;
	}
	.homepage .mainBox .boxContent .sectionTitle {
		float: left;
		width: 170px;
		margin-right: 30px;
	}
	.homepage .mainBox .boxContent .sectionTitle H4 {
		margin: 15px 0px 5px 0px;
	}
	.homepage .mainBox .boxContent .sectionTitle H4 STRONG {
		display: block;
	}
	.homepage .mainBox .boxContent .sectionButtons {
		margin: 27px 0px 0px 0px;
		float: left;
		width: 60%;
	}
	.homepage .mainBox .boxContent .sectionButtons A.defaultButton {
		margin-top: 3px;
	}
	.homepage .mainBox .boxContent .searchTitles {
		width: 600px;
		clear: both;
		float: left;
	}
	.homepage .mainBox .boxContent .searchTitles .stInput {
		width: 280px;
		float: left;
	}
	.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		width: 269px;
		padding: 6px;
	}
	BODY:first-of-type .homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		margin-top: 5px;
		width: 269px;
		padding: 8px 6px;
		FONT-SIZE: 10px; 
	}
	.homepage .mainBox .boxContent .searchTitles A.defaultButton {
		margin-top: 4px;
	}
	.homepage .mainBoxHighlighted .boxTop .btRight {
		background: url('../images/mainBoxHighlighted_btRight.gif') no-repeat bottom left;
	}
	/*#END #homepage classes */
	
	/*#footer classes */
	.footer {
		background: #364c6c;
		color: #fff;
		FONT-SIZE: 13px; 
		font-family: "Trebuchet MS", Arial, Verdana, Helvetica;
	}
	.footer A {
		color: #cddef6;
	}
	.footer .systemInfo STRONG {
		font-size: 110%;
	}
	.footer .distributorLogo A {
		background: url('../images/distributorLogo.gif') no-repeat top left;
	}
	.footer .systemInfo {
		float: left;
		width: 70%;
		padding: 11px 0px 11px 15px;
	}
	.footer .systemInfo STRONG, .systemInfo SPAN, .systemInfo A {
		display: block;
	}
	.footer .distributorLogo {
		float: right;
		width: 25%;
		text-align: right;
		padding: 11px 15px 11px 0px;
	}
	.footer .distributorLogo A {
		display: -moz-inline-box;
		display: inline-block;
		width: 96px;
		height: 52px;
	}
	.footer .distributorLogo A SPAN {
		display: none;
	}	
	/*#END #footer classes */
.welcome {	
	FONT-SIZE: 11px;	
	/*float: right;	*/
	text-align: right;
	padding: 0 0 0 0;
}	
.main_title {
	color: #ffffff;
	background: url('../images/icon/defaultButton_cancel_odds_back _long.png');	
	width: 800px;
	font-size: 190%;
	padding: 0 0 0 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	float: left;	
	margin: 0 0 4px 0;
	padding: 0 0 0 5px;
}

#jv_error {
	padding: 0 0 0 10px;
	width: 300px;
}
.textNove .label_textarea {
	width: 340px;	
	COLOR: #inline-111111; 	
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	display: inline-block;	
	vertical-align: top;
}
.subtitle {
	width: 340px;	
	COLOR: #111111;	
	padding: 0 0 4px 0;
	FONT: 11px Verdana, Arial, Helvetica, sans-serif;
	font-style: italic; 
}
.subtitle_blank_ancho {
	width: 540px;	
	COLOR: #111111;	
	padding: 0 0 6px 0;
	FONT: 11px Verdana, Arial, Helvetica, sans-serif;
	font-style: italic; 
}
.subtitle_blank {
	width: 340px;	
	COLOR: #111111;	
	padding: 0 0 5px 0;
	FONT: 11px Verdana, Arial, Helvetica, sans-serif;
	font-style: italic; 
}
.aditional_box {    
    margin:60px 15px 0 14px;    
    padding: 10px;
    position:absolute;
	top:8px;
	right:15px;
	border: 1px solid #b2c2d4;
	width: 250px;
	height: auto;
}
.aditional_box ul {	
	display:inlie;
}
.aditional_box_title {	
	FONT-SIZE: 16px; 
}
.lbl{
	width:340px;
	display: inline-block;	
}
.lbl_comments{
	width:340px;
	display: inline-block;	
	vertical-align: top;
}
.textNove_data {
	font-weight: bold;
	padding: 10px 0 0 0;
}
button[type=cancel] {
    border: 0;
    cursor: hand;
}
.submit {
    border: 0;
    margin:30px 0 0 350px; 
    cursor: hand;   
}
.cancel {
    border: 0;
    cursor: hand;
}
.form-submit { 
	margin-left: 343px;
}
.send-button {
	display: inline-block;	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	font: 100 16px/normal Arial, Helvetica, Sans-Serif;
	color: #FFF;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background-repeat: repeat-x;
	padding: 5px 13px 5px 13px;
	/* set button's background colour */
	/* orange */
	/*background-color: #E07314;*/
	/* blue sky */
	background-color: #708bb1;

	/* dark blue */
	/*background-color: #364c6c;*/

}
