/*
** 2021-06-26 fho4abcd Improve distributor logo styles
*/
/* general styles */
body, html {
	margin: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

/* #master classes */
	/* #defaultButton classes */
	A.defaultButton {
		display: block;
		float: left;
		width: 200px;  /*cambiado*/
		height: 32px;
		margin-right: 1px;
		text-align: left;
	}

	A.defaultButton IMG {
		width: 32px;
		height: 32px;
		vertical-align: middle;
		margin-right: 7px;
		float: left;
	}

	A.defaultButton SPAN {
		/*display: -moz-inline-block; */
		display: inline-block;
		vertical-align: middle;
		width: 150px;
		padding: 0px 0px 0px 0px;
		float: left;
	}


A.menuButton {
		display: block;
		float: left;
		width: 280px;  /*cambiado*/
		height: 50px;
		margin-right: 1px;
		text-align: left;
	}

	A.menuButton IMG {
		width: 40px;
		height: 40px;
		vertical-align: middle;
		margin-right: 7px;
		float: left;
	}


	A.multiLine SPAN {
		padding-top: 5px;
	}

	BODY:first-of-type A.multiLine SPAN {
		padding-top: 10px;
	}

	A.defaultButton STRONG{
		display: block;
	}
/*
	.textEntry, .submit, .index {
		vertical-align: middle;
	}
*/
	.textEntry {
		width: 180px;
	}

	INPUT.textEntry, TEXTAREA.textEntry {
		padding: 2px;
	}

	textarea.tooltip {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            width: 100%;
}


	TEXTAREA.textEntry {
		height: 70px;
	}

	INPUT.smallTextEntry,
	TEXTAREA.smallTextEntry {
		width: 100px;
	}

	SELECT.smallTextEntry {
		width: 120px;
	}

	.helper {
		padding: 8px 3px 3px 20px;
	
	}

	div.tooltip-data label {
		line-height: 1.5rem;
	}

	div.tooltip-data {
		margin: 16px 0;
		padding: 4px 0;
	}

	A.singleButton {
		display: block;
		float: left;
		position: relative;
		vertical-align: middle;
		margin-right: 3px;
	}



	A.singleButton IMG {
		width: 16px;
		height: 16px;
		vertical-align: middle;
		margin-right: 2px;
	}

	A.singleButton SPAN.sb_lb,
	A.singleButton SPAN.sb_rb {
		position: absolute;
		top: 0px;
		width: 2px;
		height: 22px;
	}

	A.singleButton SPAN.sb_lb {
		left: 0px;
	}

	A.singleButton SPAN.sb_rb {
		right: 0px;
	}

	/* #END #defaultButton classes */

/* #specific classes */

	/* #heading classes */
	.heading {

	}






	.userInfo {
		float: right;
		/*width: 30%;*/
		text-align: right;
		white-space: nowrap;
		padding: 15px 15px 0px 0px;
	
	}

	.language {
		float: right;
		width: 30%;
		text-align: right;
		white-space: nowrap;
		padding: 0px 47px 0px 0px;
	}

	.userInfo A.button_logout {
		display: -moz-inline-box;
		display: inline-block;
		padding: 6px 32px 6px 0px;
		vertical-align: middle;
	}
	/* #END #heading classes */

	/*#sectionInfo classes */
	.sectionInfo {

	}


	.actions {
		float: right;
		width: 50%;
		text-align: right;
	/*	white-space: nowrap;*/
		padding: 8px 0px 0px 0px;
		vertical-align: middle;
	}

	.actions A.defaultButton {
		float: right;
		margin-top: 3px;
	}
	/*#END #sectionInfo classes */

	/*#middle classes */
	.middle {
		min-height: 230px;
		padding: 5px;
	}
	/*#END #middle classes */

	/*#footer classes */
	.footer {
		margin: 0;

	}

	.systemInfo {
		float: left;
		width: 70%;
		padding: 11px 0px 11px 15px;
	}

	.systemInfo STRONG, .systemInfo SPAN, .systemInfo A {
		display: block;
	}

	.distributorLogo {
		float: right;
		width: 25%;
		text-align: right;
		padding: 11px 15px 11px 0px;
	}

	.distributorLogo IMG {
		display: inline-block;
		height: 40px;
	}

	/*#END #footer classes */

	/*#homepage classes */
	.homepage {
		padding: 15px 15px 1px 15px;
	}

	.homepage .mainBox {
		position: relative;
		margin-bottom: 15px;
	}

	.homepage .mainBox .boxTop,
	.homepage .mainBox .boxBottom {
		height: 2px;
		clear: both;
	}

	.homepage .mainBox .boxTop .btLeft,
	.homepage .mainBox .boxTop .btRight,
	.homepage .mainBox .boxBottom .bbLeft,
	.homepage .mainBox .boxBottom .bbRight {
		width: 2px;
		height: 2px;
	
		background: red;
	}

	.homepage .mainBox .boxTop .btLeft,
	.homepage .mainBox .boxBottom .bbLeft {
		float: left;
	}

	.homepage .mainBox .boxTop .btRight,
	.homepage .mainBox .boxBottom .bbRight {
		float: right;
	}

	.homepage .mainBox .boxContent {
		min-height: 101px;
		padding: 30px;
	}


/*
	.homepage .mainBox .boxContent .sectionTitle {
			vertical-align: baseline;
		float: left;
		height: 95px;
		width: 200px;
		margin-right: 30px;
	}

	.homepage .mainBox .boxContent .sectionTitle H4 {
		margin: 15px 0px 5px 0px;
	}

	.homepage .mainBox .boxContent .sectionTitle H4 STRONG {
		display: block;
		overflow: hidden;
	}




	.homepage .mainBox .boxContent .searchTitles label{
	display: block;	
}
/*
	.homepage .mainBox .boxContent .searchTitles {
		width: 100%;
		clear: both;
		float: left;
	}
*/
	.homepage .mainBox .boxContent .searchTitles .stInput {
		width: auto;
		display: inline-block;
		float: left;
		padding: 16px 0;
	}

	.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		width: 269px;
		padding: 6px;
		vertical-align: top;
	}

	BODY:first-of-type .homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
		margin-top: 5px;
		width: 269px;
		padding: 8px 6px;
	}

	div.stInput select {
		width: 60%;
		margin: 4px;
		padding: 5px;
		vertical-align: middle;
	}
	div.stInput a.bt-blue{
	   margin: 4px;
/*		height: 4rem ;*/
  		line-height: 2rem;
  		vertical-align: middle;
  		padding: 0.06rem 8px;
  		display: inline-block;
  	
	}

	div.stInput a.bt-blue i.fas{
		padding-left: 8px;
	}

	.homepage .mainBox .boxContent .searchTitles A.defaultButton {
		margin-top: 4px;
	}
	/*#END #homepage classes */

	/*#list classes */
	.list {

	}

	.searchBox {
		padding: 5px 15px;
		position: relative;
	}

	.searchBox LABEL {
		margin-right: 4px;
	}

	.searchBox INPUT.textEntry {
		width: 30%;
		padding: 4px;
	}
/*
	.searchBox INPUT.submit, .searchBox INPUT.index {
		padding: 0 15px;
		height: 26px;

	}
*/
	.searchBox INPUT.submitAdvanced {
		width: 126px;
		height: 26px;
		position: absolute;
		top: 7px;
		padding-left: 6px;
	}


	.searchBox INPUT.submitButton {
		width: 81px;
		height: 26px;
		padding-left: 6px;
	}

	.searchBox .helper {
		position: absolute;
		top: 11px;
		right: 15px;
	}


	.listTable {
		width: 100%;
	}

	.listTable TD,
	.listTable TH {
		padding: 8px 5px;
	}

	.listTable TD {
		vertical-align:	middle;
		text-align: left;
	}

	.listTable TH {
		text-align: left;
	}

	.listTable TH.asc,
	.listTable TH.desc {
		padding-right: 22px;
	}

	.listTable .checkboxes {
		padding-left: 15px;
	}

	.listTable .action {
		padding-right: 15px;
		white-space: nowrap;
		width: 100px;
	}
	.listTable .action a img{
		margin-right:5px;
	}
	.listTable TD A {
		white-space: nowrap;
	}

	.listTable .tButton {
		display: -moz-inline-box;
		display: inline-block;
		padding: 1px 3px;
		white-space: nowrap;
	}


	.tMacroActions .checkboxAction {
		float: left;
		margin-top: 10px;
		margin-left: 25px;
		padding: 0px 0px 10px 20px;
		width: 30%;
	}

	.tMacroActions .pagination {
		float: right;
		width: 30%;
		margin: 10px 15px 0px 0px;
	}
	/*#END #list classes */

	/*#form classes */
	.form {

	}

	.formHead, .formContent {
		padding: 20px;
		justify-content: flex-start;
	}

	.formHead H4 {
		margin: 0px 0px 15px 0px;
	}

	.formRow {
		width: 80%;
		margin-bottom: 10px;
	}

	.formRow LABEL {
		display: block;
		float: left;
		width: 30%;
	}

	.formRow LABEL.inline {
		display: inline;
		float: none;
		width: auto;
	}

	.formRow .frDataFields {
		float: right;
		width: 67%;
	}

	.formRow .frDataFields .helper {
		margin-top: 10px;
		visibility: hidden;
	}

	.formRowFocus .frDataFields .helper {
		visibility: visible;
	}

	.formRow .fieldBlock {
		float: left;
		width: 33.3%;
	}

	.formFoot {
		padding: 16px 0;

	}

	.formFoot .helper {
		float: left;
		margin-top: 10px;
		margin-left: 25px;
		margin-bottom: 10px;
		padding: 0px 10px 0px 20px;
		width: 45%;
	}

	.formFoot .pagination {
		float: right;
		width: 40%;
		margin: 10px 15px 0px 0px;
	}
	.formHead h4 {
		margin:0px 0px 15px;
	}
	/*#END #form classes */

	/* #Loading */
	.loading {
		padding: 5px;
	}

	.loading DIV {
		width: 280px;
		margin: 14% auto 14% auto;
		padding-top: 24px;
		text-align: center;
	}
	/* #END #Loading */

	/* #colection Title loading */
	TD.hideSTitle,
	TD.showSTitle {
		width: 40%;
	}

	TD.hideSTitle .showContent {
		display: none;
	}

	TD.showSTitle {
		padding: 0px;
	}

	TD.showSTitle .showContent {
		padding: 5px 5px 0px 5px;
	}

	TD.showSTitle .hideContent {
		display: none;
	}

	TD.showSTitle .singleLoading {
		padding: 30px 0px;
		text-align: center;
		margin-top: 8px;
	}

	TD.showSTitle .singleLoading IMG {
		width: 16px;
		height: 16px;
		vertical-align: middle;
	}

	TD.showSTitle .collectionInfo {
		margin-top: 8px;
		padding: 8px 3px 3px 3px;
	}

	TD.showSTitle .collectionMode {
		text-align: right;
		margin: 0px -5px;
	}

	TD.showSTitle .collectionMode SPAN,
	TD.showSTitle .collectionMode A {
		display: -moz-inline-box;
		display: inline-block;
		padding: 3px 5px;
	}

	/* #END #colection Title loading */

	/* #Login */
	.login {
		padding: 2.6%	 0px;
	}

	.login .loginForm {
		margin: 0px auto;
		width: 350px;
	}

	.login .loginForm {
		position: relative;
	}

	.login .loginForm .boxTop,
	.login .loginForm .boxBottom {
		height: 2px;
		clear: both;
	}

	.login .loginForm .boxTop .btLeft,
	.login .loginForm .boxTop .btRight,
	.login .loginForm .boxBottom .bbLeft,
	.login .loginForm .boxBottom .bbRight {
		width: 2px;
		height: 2px;
	
		background: red;
	}

	.login .loginForm .boxTop .btLeft,
	.login .loginForm .boxBottom .bbLeft {
		float: left;
	}

	.login .loginForm .boxTop .btRight,
	.login .loginForm .boxBottom .bbRight {
		float: right;
	}

	.login .loginForm .boxContent {
		padding: 20px;
	}

	.login .loginForm .formRow {
		width: 100%;
	}

	.login .loginForm .formRow LABEL {
		margin-bottom: 3px;
	}

	.login .loginForm .textEntry {
		width: 100%;
		font-size: 16px;
	}


	.login .loginForm .alert {
		margin-bottom: 10px;
	}

	.formRow a.bt-blue{
		display: flex;
		width: 100%;
		text-align: center;
		justify-content: center;
	}

	/* #END #Login */


	/* BROWSER */



/*#list classes */
.searchBoxBrowser, .SubsearchBoxBrowser  {
	padding: 0;
	display: inline-block;
	width: 100%;
	position: relative;

}

.searchBoxBrowser form, .SubsearchBoxBrowser form{
	display: inline-flex;
	margin: 5px 5px;
	vertical-align: middle;
}

.searchBoxBrowser .f_right, .SubsearchBoxBrowser .f_right{
	float: right;
	position: relative;
	text-align: right;
}

.SubsearchBoxBrowser {
	vertical-align: baseline;
}

.SubsearchBoxBrowser .f_right{
width: 45%;
float: right;
}

.SubsearchBoxBrowser .f_left{
width: 45%;
float: left;
}

.searchBoxBrowser .f_left{
float: left;
position: relative;
}


.searchBoxBrowser LABEL, .SubsearchBoxBrowser LABEL {
margin: 10px 4px 0 10px;

}

.searchBoxBrowser INPUT.textEntry, .SubsearchBoxBrowser INPUT.textEntry{
padding: 6px;
margin: 4px;
}


.searchBoxBrowser INPUT.textEntry.b_search {
width: 300px;
}

INPUT.textEntry.textEntryFocus.b_search {
width: 400px;
transition: width 0.5s;
}

.searchBoxBrowser select.textEntry, .SubsearchBoxBrowser select.textEntry {
width: auto;
padding: 6px;
}

.searchBoxBrowser button, .SubsearchBoxBrowser button {
padding: 6px;
margin: 4px;
width: 180px;

}

.button_browse {
padding: 4px 8px;
}

a.button_browse img{
vertical-align: middle;
text-align: center;
}

.searchBoxBrowser button.showdeleted {
padding: 6px;
width: auto;

}
/*
.searchBoxBrowser INPUT.submit, .searchBoxBrowser INPUT.index {
padding: 0 15px;
height: 26px;

}*/

.searchBoxBrowser INPUT.submitAdvanced {
width: 126px;
height: 26px;
position: absolute;
top: 7px;
padding-left: 6px;
}


.searchBoxBrowser INPUT.submitButton {
width: 81px;
height: 26px;
padding-left: 6px;
}

.searchBoxBrowser .helper {
position: absolute;
top: 11px;
right: 15px;
}

.tMacroActions.Browser {
	margin-bottom: 30px;
}

/*** COLUMNS ***/


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}


/* START SIDEBAR  */

.abcd-sidebar{
	box-sizing: inherit;
	height:100%;
	position:relative;!important;
	z-index:1;
	overflow: initial;
}


.abcd-bar-block .abcd-bar-item{
	width:100%;
	display:block;
	padding: 8px 2px;
	text-align:left;
	border:none;
	white-space:normal;
	float:none;outline:0;
	border-right: solid 0.1rem var(--light);
}

.abcd-bar-block.abcd-center .abcd-bar-item{
	text-align:center;
}

.abcd-block{
	display:block;
	width:100%;
}

.abcd-btn,.abcd-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.abcd-btn,.abcd-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.abcd-disabled,.abcd-btn:disabled,.abcd-button:disabled{cursor:not-allowed;opacity:0.3}.abcd-disabled *,:disabled *{pointer-events:none}
.abcd-dropdown-hover:hover > .abcd-button:first-child,.abcd-dropdown-click:hover > .abcd-button:first-child{background-color:#ccc;color:#000}
.abcd-dropdown-hover.abcd-mobile,.abcd-dropdown-hover.abcd-mobile .abcd-btn,.abcd-dropdown-hover.abcd-mobile .abcd-button,.abcd-dropdown-click.abcd-mobile,.abcd-dropdown-click.abcd-mobile .abcd-btn,.abcd-dropdown-click.abcd-mobile .abcd-button{width:100%}}
.abcd-button:hover{
	color:#000!important;
	background-color:#ccc!important;
}


.abcd-bar-block .abcd-dropdown-hover .abcd-button,.abcd-bar-block .abcd-dropdown-click .abcd-button{width:100%;text-align:left;padding:8px 16px}
.abcd-bar .abcd-button{white-space:normal}


@media (min-width:993px){
	.abcd-modal-content{
		width:900px
	}
	.abcd-hide-large{
		display:none!important
	}
	.abcd-sidebar.abcd-collapse{
		display:block!important
	}
}


@media (max-width:992px){
	.abcd-sidebar.abcd-collapse{
		display:none;
	}
	
	.abcd-main{
		margin-left:0!important;
		margin-right:0!important;
	}

	.abcd-auto{
		max-width:100%;
	}
	}


/* END SIDEBAR  */