/* 2021-03-01 fho4abcd : deleted overruled font-family, font-size
** 2021-06-26 fho4abcd Move distributor logo to php
*/

:root {
  --blue: #3955a3;
  --blue-abcd: #124078;
  --bgsectionInfo: #4a78b0;
  --cat-color: #B4E1F9;
  --acq-color: #96EAC8;
  --loan-color: #F7EF89;
  --indigo: #6610f2;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #13aa52;
  --cyan: #bcd1ef;
  --white: #FBFEFF;
  --gray190:  #201f1e;
  --gray110:  #8a8886;
  --gray60:  #c8c6c4;
  --gray40:  	#e1dfdd;
  --gray20:  #f3f2f1;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #faf9f8;
  --primary: #39547a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #bcd1ef;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #cfd0d1;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
  --bs-body-font-size: 0.8rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}

/* GENERAL STYLES */


html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


body {
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  color: var(--bs-body-color);
  background: var(--blue-abcd);
}


h1, .h1 {
  font-size: calc(0.375rem + 0.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 0.8rem;
  }
}

A {
	color: var(--blue);
}

A IMG {
	border: 0px;
}

LABEL {
	cursor: pointer;
}

table {
  border-collapse: separate;
   border-spacing: 8px;
/*  width: auto;*/

}

th, td {
  text-align: left;
}


input,
button,
select,
optgroup,
textarea,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 3px;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;

}


.formContent > * >.formContent {
	border: none;
	border-width: 0;
	box-shadow: none;
	background: var(--white);
}

.middle.form > * > .middle.form{
	background: var(--white);
}


select.textEntry, INPUT.textEntry, TEXTAREA, input[type=text],input[type=button], select {
	border: 1px solid #a7a6aa;
	padding: 3px;
	box-sizing: border-box;
	margin: 1px 0;
}

input[type=text], input[type=password] {
	border: 1px solid #a7a6aa;
	padding: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);
	box-sizing: border-box;
	margin: 1px 0;
/*color: var(--blue);*/
	font-size: 12px;
	line-height: 18px;
}

textarea.par {
	font-family: monospace;
	border: 1px solid #a7a6aa;
	padding: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);
	box-sizing: border-box;
	margin: 1px 0;
}

INPUT.textEntryFocus, TEXTAREA.textEntryFocus {
	border-color: #5e88b6;
	background: var(--white);
}

INPUT.superTextEntry,
TEXTAREA.superTextEntry,
SELECT.superTextEntry,
INPUT.singleTextEntry,
TEXTAREA.singleTextEntry,
SELECT.singleTextEntry {
	height: 2.3rem ;
  line-height: 1.25rem;
  width: 90%;
	margin: 2px;
}



.row {
    --bs-gutter-x: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
  	margin-top: 20px;
  	margin-bottom: 20px;
    align-content: center;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}




/* ABCD CLASSIC */

/* #defaultButton classes */
A.defaultButton {
	text-decoration: none;
	color: var(--white);
}

A.defaultButton:hover IMG {
	background-color: #4E617C;
}


A.defaultButton SPAN {
	cursor: pointer;

}

A.defaultButton STRONG {

}

/* #menuButton classes */
A.menuButton {
	text-align: right;
	border: 1px solid var(--info);
	padding: 8px;
	width: 200px;
	margin: 5px;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: bottom;


}

A.menuButton:hover  {
	background-color: var(--info);
	color: var(--blue);
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);	
}

a.menuButton span {
	padding: 4px;
	height: 100%;
	width: 150px;
	float: left;
	text-align: left;
	margin: auto 50px;
	font-size: 85%;
	color: var(--blue-abcd);
}




.inputAlert {
	background: #f3eeb5 url('../images/icon/singleButton_alert.gif') no-repeat center right !important;
}

.helper, .helper a {
	background: var(--gray-light);
	color: var(--gray);

}

.helper:before {
	font-weight: 600;
	font-family: "Font Awesome 5 Free";
	content: "\f05a";
	color: var(--gray);
}

.alert {
  color: #664d03;
  background-color: var(--warning);
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
}

.alert:before {
	font-family: "Font Awesome 5 Free";
	content: "\f071";
	color: #664d03;
	margin-right: 10px;
}


.success {
  color: var(--white);
  background-color: var(--success);
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
}

.success:before {
	font-family: "Font Awesome 5 Free";
	content: "\f071";
	color: var(--yellow);
	margin-right: 10px;
}



A.singleButton .sb_lb {
	background: url('../images/singleButton_lb.gif') no-repeat top left;
}

A.singleButton .sb_rb {
	background: url('../images/singleButton_rb.gif') no-repeat top right;
}

/* #END #defaultButton classes */

/* #specific classes */

/*#heading classes */
.heading {
	background-color: var(--blue-abcd);
	height: 45px;
	width: 100%;
}


.institutionalInfo {
	float: left;
	width: 35%;
	padding: 2px 10px;
	height: 40px;
}

.institutionalInfo IMG {
	float: left;
	margin: 2px 8px 0 0;
	display: inline-block;
	height: 32px;
}


.institutionalInfo>H1, .institutionalInfo H2 {
	letter-spacing: 0.03rem;
	color: var(--white);
	font-weight: normal;
	margin-left: 50px;
	height: 40px;
}
.institutionalInfo H1 {
	margin-top: 10px;
	margin-left: 20%;
	vertical-align: middle;
	position: relative;
}

.heading-database {
	display: inline-block;
}

.heading-database form {
	margin-right: 15%;
	padding: 0;
	height: 45px;
	display: inline-block;
	position: absolute;
	width: 30%;
	vertical-align: middle;
}


.heading-database form label {
	display: inline-block;
	color: var(--white);
	vertical-align: middle;
	margin: 12px auto 0 30px;
	width: 10%;
	font-size: 1rem;
}

select.heading-database {
	 display:block;
	 margin-top: 5px;
	 vertical-align: top;
	 background: var(--cat-color);
	 color: var(--blue-abcd);
	 width: 70%;
	 border: 1px solid var(--white);
	 border-radius: inherit;
	 float: right;
	 padding: 8px;
	 height: 35px;
	 border-radius: 3px;
	 box-shadow: rgba(0, 0, 0, .1) inset 0 2px 4px 0;		
	 font-weight: 600;
	 font-size: 14px;
	text-align: left;
}

select.heading-database option {
	 background: var(--white);
	 color: var(--blue-abcd);

}

nav.heading-nav, {
	position: relative;
	top: 0;
	margin-top: 0;
	display: inline;
	padding: 0;
	margin: 0;
	vertical-align: top;
	background-color: var(--blue-abcd);
	float: right;
}

nav.heading-nav ul {
	float: right;
	padding: 0;
  margin: 0;
  vertical-align: top;
	list-style: none;
	position: relative;
	overflow: hidden;
	height: 45px;
	}
	
nav.heading-nav ul li {
	display:inline-block;
	vertical-align: top;
	background-color: var(--blue-abcd);
	float: left;
	}

nav.heading-nav a {
	background-color: var(--blue-abcd);
	display: block;	
	color: var(--white);
	height: 45px;
	line-height: 60px;
	text-decoration:none;
	border: none;
	padding: 0 8px;
	vertical-align: top;
	box-shadow: none;
}

nav.heading-nav a img {
	margin-top: 8px;
	vertical-align: middle;
}

nav.heading-nav select {
	text-transform: uppercase;
	background-color: var(--blue-abcd);
	display: block;	
	color: var(--white);
	height: 43px;
	width: 60px;
	text-decoration:none;
	border: none;
	padding: 8px;
	vertical-align: middle;
	box-shadow: none;
	line-height: 60px;
}

nav.heading-nav select option {
	background: var(--info);
	color: var(--blue-abcd);
	padding: 5px;
}

nav.heading-nav a:hover, nav.heading-nav button:hover, nav.heading-nav select:hover  { 
	background-color: var(--blue);
}

/* Hide Dropdowns by Default */
nav.heading-nav ul ul {
	z-index: 999999999;
	display: none;
	position: absolute; 
	top: 45px; /* the height of the main nav */
	right: 0;
	left: 200px;
}
	
/* Display Dropdowns on Hover */
nav.heading-nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav.heading-nav ul ul li {
	float:none;
	display:list-item;
	position: relative;
	margin-left: -80px;

}

/* Second, Third and more Tiers	*/
nav.heading-nav ul ul ul li {
	position: relative;
	top:-60px; 
}

.bt-mod {
	margin: 0;
	height: 46px;
	width: 42px;
	border-radius: 0px;
	box-sizing: border-box;
	cursor: pointer;
	outline: 0;
	padding: 10px;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;		
	background-repeat: no-repeat;
	background-position: center;			
}

.bt-cat {
	background-color: var(--blue-abcd);
	border: 1px solid var(--blue-abcd);
	background-image: url(../svg/ic_fluent_book_database_24_regular.svg);
}

.bt-cat.active {
	box-shadow: rgba(0, 0, 0, .1) inset 0 2px 4px 0;		
	background-color: var(--blue);
	border: 1px solid var(--blue);
	background-image: url(../svg/ic_fluent_book_database_24_filled.svg);
}

.bt-loan {
	background-color: var(--blue-abcd);
	border: 1px solid var(--blue-abcd);
	background-image: url(../svg/ic_fluent_people_swap_24_regular.svg);
}

.bt-loan.active {
	background-image: url(../svg/ic_fluent_people_swap_24_filled.svg);
	box-shadow: rgba(0, 0, 0, .1) inset 0 2px 4px 0;		
	background-color: var(--blue);
	border: 1px solid var(--blue);
}

.bt-acq {
	background-color: var(--blue-abcd);
	border: 1px solid var(--blue-abcd);
	background-image: url(../svg/ic_fluent_cart_24_regular.svg);
}

.bt-acq.active {
	background-image: url(../svg/ic_fluent_cart_24_filled.svg);
	box-shadow: rgba(0, 0, 0, .1) inset 0 2px 4px 0;		
	background-color: var(--blue);
	border: 1px solid var(--blue);
}

li a.bt-charset,li a.bt-charset:hover {
	background: var(--blue-abcd);
	padding: 0px 8px;
	cursor: default;
	transform: none;
	box-shadow: none;
	margin-top: -6px;
  font-size: 12px;
}

li a.bt-exit {
	background-color: var(--danger);
	border: none;
}
li a.bt-exit:hover {
	background-color: var(--danger);
	border: none;
}

.userInfo, .userInfo A, .language, .language A {
	font-size: 0.7rem;
	color: var(--white);
}

.lang:active {
    border: 1px solid #000;
    pointer-events: initial;
}


/* #END #heading classes */

/*#sectionInfo classes */
.sectionInfo {
	background: var(--bgsectionInfo);
}

.breadcrumb {
	float: left;
	width: 45%;
	padding: 5px 0px 5px 15px;
	display: inline;
	color: var(--white);
	font-size: 150%;
}

 .breadcrumb a {
	color: var(--white);
	font-weight: 600;
}

.breadcrumb SUP {
}

.actions, .actions A {
	color: var(--white);
	text-decoration: none;
}
/*#END #sectionInfo classes */

/*#middle classes */
.middle {
	background: var(--gray40);
	min-height: 50vh;
}

.ActionFooter {
	display: inline-flex;
	width: 100%;
	margin: 20px 10px;
}

.ActionFooter a {
	margin: 2px;
}

/*#END #middle classes */

/*#footer classes */
.footer {
	border-top: 1px solid var(--light);
	color: var(--gray-light);
	background: var(--blue-abcd);
	padding: .8rem;
	-webkit-box-shadow: inset -1px 15px 5px -12px rgba(0,0,0,0.32); 
	box-shadow: inset -1px 15px 5px -12px rgba(0,0,0,0.32);
  position: relative;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  height: 5.5rem;            /* Footer height */
}

.footer A {
	color: var(--gray-light);
}

.systemInfo STRONG {

}

/*#END #footer classes */

/*#homepage classes */
.homepage .mainBox {

}

.homepage .mainBox .boxTop {
	background: url('../images/mainBox_boxTop_bg.gif') repeat-x top left;
}

.homepage .mainBox .boxBottom {
	background: url('../images/mainBox_boxTop_bg.gif') repeat-x bottom left;
}

.homepage .mainBox .boxContent {
	background-color: var(--white);
	border: 1px solid var(--light);
	box-sizing: border-box;
}

.homepage .mainBox .boxTop .btLeft {
	background: url('../images/mainBox_btLeft.gif') no-repeat bottom left;
}

.homepage .mainBox .boxTop .btRight {
	background: url('../images/mainBox_btRight.gif') no-repeat bottom left;
}

.homepage .mainBox .boxBottom .bbLeft {
	background: url('../images/mainBox_bbLeft.gif') no-repeat bottom left;
}

.homepage .mainBox .boxBottom .bbRight {
	background: url('../images/mainBox_bbRight.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxContent {
	background: var(--white) url('../images/mainBox_boxContent_bg.gif') repeat-x bottom left;
	border-color: #b2c2d4
}

.homepage .mainBoxHighlighted .boxTop {
	background: url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x top left;
}

.homepage .mainBoxHighlighted .boxBottom {
	background: #eff3f8 url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x bottom left;
}

.homepage .mainBoxHighlighted .boxTop .btLeft {
	background: url('../images/mainBoxHighlighted_btLeft.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxTop .btRight {
	background: url('../images/mainBoxHighlighted_btRight.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxBottom .bbLeft {
	background: url('../images/mainBoxHighlighted_bbLeft.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxBottom .bbRight {
	background: url('../images/mainBoxHighlighted_bbRight.gif') no-repeat bottom left;
}


.homepage .mainBox .boxContent .sectionTitle {
		display: inline-block;
		width: 100%;
		padding: 0;
		box-sizing: border-box;
		top: 0;
		position: absolute;
}

.homepage .mainBox .boxContent .sectionTitle h1 {
	margin-left: 35px;
	font-size: 1.5rem;
	width: 90%;
	color: var(--blue-abcd);
}

.homepage .mainBox .boxContent .sectionTitle img {
	height: 50px;
	float: left;
	padding: 10px 0;
	vertical-align: middle;
}


.homepage .mainBox .loanSection {
	background: url('../svg/circ/bg_loan.svg') no-repeat left top;
	background-size: 150px;
	background-color: var(--white);
}

.homepage .mainBox .catalogSection {
	background: url('../svg/catalog/bg_catalog.svg') no-repeat left top;
	background-size: 150px;
	background-color: var(--white);
}

.homepage .mainBox .acqSection {
	background: url('../svg/acq/bg_acq.svg') no-repeat left top;
	background-size: 150px;
	background-color: var(--white);
}

	.homepage .mainBox .boxContent .sectionButtons {
		justify-content: center;

		margin: 40px auto;
		width: 55%;
	}

	.homepage .mainBox .boxContent .sectionButtons A.defaultButton {
		margin-top: 3px;
	}
	.homepage .mainBox .boxContent {
		min-height: 101px;
		padding: 30px 10px;
	}

.homepage .mainBox .titleSection .sectionIcon {
	background: url('../images/database.png') no-repeat center;
}

.homepage .mainBox .dbSection .sectionIcon {
	background: url('../images/database.png') no-repeat center;
}

.homepage .mainBox .searchSection .sectionIcon {
	background: url('../images/search.png') no-repeat center;
}

.homepage .mainBox .orderSection .sectionIcon {
	background: url('../images/icon/mainBox_titleSection.png') no-repeat center;
}

.homepage .mainBox .fascicleSection .sectionIcon {
	background: url('../images/icon/mainBox_fascicleSection.png') no-repeat center;
}

.homepage .mainBox .maskSection .sectionIcon {
	background: url('../images/icon/mainBox_maskSection.png') no-repeat center;
}


.homepage .mainBox .helpSection .sectionIcon {
	background: url('../images/icon/mainBox_helpSection.png') no-repeat center;

}	


.homepage .mainBox .boxContent .searchTitles .stInput LABEL {
	color: #4c4c4c;
}

.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
	background: url('../images/searchTitles_textEntry_bg.gif') no-repeat top left;
	border: 0px none;
}

.homepage .mainBox A.defaultButton:hover IMG {
	background-color: var(--white);
}


/*#END #homepage classes */

/* #buttons background classes */
A.listButton IMG {
	background: url('../images/icon/defaultButton_list.png') no-repeat center;
}


A.newButton IMG {
	background: url('../images/icon/ascii.png') no-repeat center;
}

A.importButton IMG {
	background: url('../images/icon/defaultButton_import.png') no-repeat center;
}


/* CATALOG */

A.DataEntry {
	background: url('../svg/catalog/ic_fluent_form_new_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);	
}

A.CatstatButton {
	background: url('../svg/catalog/ic_fluent_data_usage_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);	
}

A.reportButton  {
	background: url('../svg/catalog/ic_fluent_print_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);	
}

A.origendatabaseButton {
 	background: url('../images/icon/basededatosorigen.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.utilsButton {
	background: url('../svg/catalog/ic_fluent_toolbox_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.z3950Button {
	background: url('../svg/catalog/ic_fluent_arrow_download_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.update_databaseButton {
	background: url('../svg/catalog/ic_fluent_content_settings_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.databaseButton {
	background: url('../svg/catalog/ic_fluent_database_plus_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);	
}

A.CataluserButton {
	background: url('../svg/catalog/ic_fluent_people_settings_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.resetButton {
	background: url('../svg/catalog/ic_fluent_arrow_reset_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.translateButton {
	background: url('../svg/catalog/ic_fluent_globe_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.CatexploreButton {
	background: url('../svg/catalog/ic_fluent_folder_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}



/* END CATALOG */




/* CIRCULATION  */
A.exploreButton {
	background: url('../svg/circ/ic_fluent_key_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.toolsButton {
	background: url('../svg/circ/ic_fluent_settings_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.userButton {
	background: url('../svg/circ/ic_fluent_people_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.statButton {
	background: url('../svg/circ/ic_fluent_book_pulse_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);	
}

A.receivingButton  {
	background: url('../svg/circ/ic_fluent_book_pulse_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.loanButton {
	background: url('../svg/circ/ic_fluent_arrow_routing_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.returnButton {
	background: url('../svg/circ/ic_fluent_arrow_wrap_32_filled.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.renewButton {
	background: url('../svg/circ/ic_fluent_arrow_sync_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.sanctionsButton {
	background: url('../svg/circ/ic_fluent_person_money_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.statusitemButton {
 	background: url('../svg/circ/ic_fluent_book_question_mark_32_regular.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.userstatmentButton {
 	background: url('../svg/circ/ic_fluent_person_accounts_32_regular.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.userhistoryButton {
 	background: url('../svg/circ/ic_fluent_person_info_32_regular.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.transactionsButton {
 	background: url('../svg/circ/ic_fluent_arrow_swap_32_filled.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.statisticsusersButton {
 	background: url('../svg/circ/ic_fluent_people_list_32_regular.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.statisticsanctionsButton {
 	background: url('../svg/circ/ic_fluent_money_calculator_32_regular.svg') no-repeat center;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.reportsButton {
 	background: url('../svg/circ/ic_fluent_data_usage_32_regular.svg') no-repeat left;
 	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}
A.reserveButton {
	background: url('../svg/circ/ic_fluent_book_clock_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.usersconfigureButton {
 	background: url('../images/icon/usersconfigure.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.userstypeButton {
 	background: url('../images/icon/userstype.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.itemstypeButton {
 	background: url('../images/icon/itemstype.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.currency_daysButton {
 	background: url('../images/icon/currency_days.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.calendarButton {
 	background: url('../images/icon/calendar.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.loanpolicyButton {
 	background: url('../images/icon/loanpolicy.png') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

/* END CIRCULATION  */


/* ACQUISITIONS */
A.resumeButton {
	background: url('../svg/acq/ic_fluent_document_landscape_data_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.newsuggestionButton {
 	background: url('../svg/acq/ic_fluent_person_chat_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.approvedsuggestionsButton {
 	background: url('../svg/acq/ic_fluent_document_checkmark_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.biddingButton {
	background: url('../svg/acq/ic_fluent_money_calculator_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.decisionButton {
	background: url('../svg/acq/ic_fluent_cart_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.createpurchaseorderButton {
 	background: url('../svg/acq/ic_fluent_table_add_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.requisitionButton {
	background: url('../svg/acq/ic_fluent_print_add_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.pendingButton {
	background: url('../svg/acq/ic_fluent_document_bullet_list_clock_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.ACQreceivingButton  {
	background: url('../svg/acq/ic_fluent_receipt_add_32_regular.svg') no-repeat left;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.suggestButton {
	background: url('../svg/acq/ic_fluent_person_feedback_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.providersButton {
 	background: url('../svg/acq/ic_fluent_building_shop_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.copiesdbButton {
	background: url('../svg/acq/ic_fluent_table_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

A.ACQresetButton {
	background: url('../svg/acq/ic_fluent_arrow_reset_32_regular.svg') no-repeat center;
	background-size: 44px;
	background-position: 10px;
	background-color: var(--white);
}

/* END ACQUISITIONS */

A.pdfButton IMG {
	background: url('../images/icon/defaultButton_pdf.png') no-repeat center;
}
A.cancelButton IMG {
	background: url('../images/icon/defaultButton_cancel.png') no-repeat center;
}
A.saveButton IMG {
	background: url('../images/icon/defaultButton_save.png') no-repeat center;
}
A.nextButton IMG {
	background: url('../images/icon/defaultButton_next.png') no-repeat center;
}
A.backButton IMG {
	background: url('../images/icon/defaultButton_back.png') no-repeat center;
}
A.eraseButton IMG {
	background: url('../images/icon/singleButton_erase.png') no-repeat center;
}
A.indexButton IMG {
	background: url('../images/icon/singleButton_e.png') no-repeat center;
}
A.checkButton IMG {
	background: url('../images/icon/clean.png') no-repeat center;
}
A.discardButton IMG {
	background: url('../images/icon/trashcan_full.png') no-repeat center;
}
A.copiesdbaddButton IMG {
	background: url('../images/icon/db_update.png') no-repeat center;
}
A.purchaseorderButton IMG{
 	background: url('../images/icon/purchaseorder.png') no-repeat center;
}






A.receiptsButton IMG{
 	background: url('../images/icon/receipts.png') no-repeat center;
}
A.homeButton IMG{
 	background: url('../../images/icon/home.png') no-repeat center;
}
/*#END #buttons background classes */

/*#list classes */
/*
.searchBox {
	background: #f2f2f2;
}

.searchBox LABEL {
	color: #848484;
}

.searchBox INPUT.index {
	border: 1px solid #8395a7;
	background: #c8d6e5;
	color: #222f3e;
}

.searchBox INPUT.submitAdvanced {
	border: 0px none;
	background: url('../images/searchBox_submitadvanced_bg.gif')  top left;
	color: #848484;
}
*/


.statTable {
	border-collapse: collapse;
	border-spacing: 0px;
}

.statTable TH {
	border-right: 1px solid #9d9d9d;
	background: #848484;
	border-bottom: 3px solid #848484;
	color: var(--white);
	cursor: pointer;
	border:1px solid #9d9d9d;
}

/* Table Browser */

.listTable {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 25px 0;
	background: var(--white);
}

.listTable th {
	background: var(--white);
	color: #000;
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.listTable.browse tr:first-child {
	border-bottom: 2px solid #c9c9c9;
}

.listTable.browse tr:last-child {
	border-top: 2px solid #c9c9c9;
}	

.listTable TH.checkboxes,
.listTable TH.action {
	cursor: default;
}

.listTable TD {
	border-bottom: 1px solid #e7e7e7;
	background: var(--white);
}

.listTable .tButton {
	background: #bdced3;
	color: #000;
	text-decoration: none;
}

.listTable .tErase {
	background: #dfbfbf;
}

.listTable .rowOver TD {
	background: #f4f4f4;
	border-bottom-color: #ddd;
}

.listTable .rowOver .tButton:hover {
	background: #88a6d3;
	color: var(--white);
}

.listTable .rowOver .tErase:hover {
	background: #d36666;
}

.tMacroActions .checkboxAction {
	background: url('../images/checkboxAction_bg.gif') no-repeat top left;
}
/*#END #listTable classes */

/* TABLE IN DIBUJARHOJADEENTRADA */

/*TOOLBAR*/




/*
.ABCD_menubases iframe:hover {
	position: relative;
	background: red;
}
*/

div.ABCD_menu {
	z-index: 99999999;
	background: yellow; 
}

div.ABCD_menu:hover{
	z-index: 99999999;
	background: yellow;
	height: 50px; 
}

.ABCD_main {
	z-index: 11;
}

.ABCD_menubases {
	height: 200px;
}
.ABCD_menubases iframe {
    height:50px;
    overflow:visible;
    z-index: 99999999;
    pointer-events: initial; 
}



iframe.dataentry-header {
	z-index: 999999999;
	position: relative; 
	height: 50px; 
	width: 100%;
	border: none;
}



body.toolbar-dataentry {
	background: var(--gray-light);
	margin: 6px;
	color: var(--bgsectionInfo);
}

div.toolbar-dataentry {
	background: var(--gray-light);
	color: var(--bgsectionInfo);
	display: inline-block;
}

div.toolbar-dataentry form {
	display: inline-block;
	vertical-align: top;
}

.GenerarWks {
	float: right;
}

#toolbarBox {
	float: left;
}

table.toolbar-dataentry  {
	width:100%;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 8px;
	border-bottom: 1px solid var(--cyan);
}

div.toolbar-dataentry  {
	box-sizing: border-box;
	width:100%;
	padding: 8px;
	border-bottom: 1px solid var(--cyan);
}

.toolbar-dataentry td {
	vertical-align: middle;
}

table.toolbar-dataentry select, table.toolbar-dataentry input {
	font-size: 12px;
	width: 100px;
}

table.toolbar-dataentry a {
	color: var(--bgsectionInfo);
	padding: 8px;
	text-decoration: none;
}

.toolbar-dataentry .bt-tool {
	height: 24px;
	width: 32px;
	padding: 4px 0;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.toolbar-dataentry .bt-tool img {
	padding: 5px;
	margin-top: -5px;
}

.ph-10 {
	padding: 2px 10px;
}

.defaultButtonText{
	font-size: 11px;
	cursor:pointer;
}


.buttonTextDisabled {
	color: gray;
}

.defaultButton {
	fill: var(--white);
	height: 24px;
	width: 32px;
	padding: 4px 0;
}


.defaultButtonOver, .toolbar-dataentry .bt-tool:hover  {
	border-radius: 3px;
	height: 24px;
	width: 32px;
	padding: 4px 0;
	background-color : var(--blue);
	cursor : pointer;
}

.defaultButtonOver img, .toolbar-dataentry .bt-tool img:hover  {
	filter: invert(100%) sepia(96%) saturate(4522%) hue-rotate(348deg) brightness(97%) contrast(109%);
}

.defaultButtonDown {
	background-color : var(--white);
	cursor : pointer;
	height: 24px;
	width: 32px;
	padding: 4px 0;
	fill: var(--blue);
	vertical-align: middle;
}

.icongray {
/*	border : solid 1px var(--bgsectionInfo);*/
	cursor : default;
}

.btn-toolbar-blue i {
	box-sizing: border-box;
	padding: 3px 4px;
	text-decoration: none;
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 15px;
	vertical-align: middle;
}


/*
.toolbarDivider {
	background-color : var(--white);
	border-right : solid var(--white)FFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
}

.toolbarDividerY {
	background-color : var(--bgsectionInfo);
	border-bottom : none;
	border-top : none;
	height : 2px;
	overflow : hidden;
	width : 100%;
}


.toolbarName{
	letter-spacing : 3px;
	padding-left : 10px;
	padding-right : 10px;
}
*/

table.toolbarTable, table.toolbar-edit-dataentry {
	border-spacing: 0;
	border-collapse: collapse;
}

.toolbarTable{
	border: none;
	margin : 0px;
	padding : 0px;
	table-layout : fixed;
}


/*END TOOLBAR*/

/* SECOND TOOLBAR */

#myDiv{
	margin-right: 5px;
	padding: 0 10px;
	background: var(--bgsectionInfo);
	border-top: 1px solid var(--gray);
	height: 38px;
	vertical-align: middle;
}

#myDiv a img{
	margin: 0 2px;
	padding: 0 10px;
}

#myDiv a img {
		padding: 4px;
		filter: invert(99%) sepia(100%) saturate(4%) hue-rotate(61deg) brightness(105%) contrast(100%);
}

#myDiv img:hover {
	background: var(--light);
}


/* The container */
.check_sec {
	vertical-align: top;
	top: 5px;
	width: 22px;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check_sec input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.check_sec:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check_sec input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check_sec input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check_sec .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* END SECOND TOOLBAR */

.table-fdt {
	border-collapse: collapse;
	border-spacing: 0px;
	background: var(--white);
}

.table-fdt th {
	background: var(--white);
	color: #000;
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.table-fdt.browse tr:first-child {
	border-bottom: 2px solid var(--gray-light);
}

.table-fdt.browse tr:last-child {
	border-top: 2px solid var(--gray-light);
}	

.table-fdt TH.checkboxes,
.table-fdt TH.action {
	cursor: default;
}

.table-fdt td, .table-fdt tbody tr td {
	border-bottom: 1px solid var(--gray-light);
	padding: 4px 6px;
/*	background: var(--white);*/
  display: table-cell;
  vertical-align: middle;

}


.table-fdt > tbody > tr > td > input[type=text], 
.table-fdt > tbody > tr > td > input[type=password], 
.table-fdt > tbody > tr > td > input[type=radio], 
.table-fdt > tbody > tr > td > textarea, 
.table-fdt > tbody > tr > td > select {
	margin: 2% 10px;
	font-size: 13px;
	color: var(--blue);
	line-height: 12px;
	padding: 8px;
	box-shadow: none;
	-webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);

}

td.input-fdt {
	align-content: center;
	vertical-align: middle;
	margin: auto;
}

.table-fdt .tButton {
	background: #bdced3;
	color: #000;
	text-decoration: none;
}

.table-fdt .tErase {
	background: #dfbfbf;
}

.table-fdt .rowOver .tButton:hover {
	background: #88a6d3;
	color: var(--white);
}

.table-fdt .rowOver .tErase:hover {
	background: #d36666;
}


/* TAG */
td.table-fdt-one {
	width: 50px;
}


/* BUTTONS */
.table-fdt-two {
	width: 130px;
}

/* NAME OF FIELD */
.table-fdt-three {
	width: 150px;
	font-size: 12px;
}

/* INPUT FORM */
.table-fdt-four {
	width: 600px;
}


[class^="bt-fdt"] {
	border-radius: 3px;
	height: 10px;
	padding: 8px;
	display: inline;
	vertical-align: middle;
}


.bt-fdt{
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--blue);
	color: var(--blue);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	touch-action: manipulation;
	vertical-align: middle;
	margin: 2px;
	width: 10px;

}

.bt-fdt-help{
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--cyan);
	color: var(--cyan);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	touch-action: manipulation;
	vertical-align: middle;

}


.bt-fdt-question {
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--cyan);
	color: var(--cyan);
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
}

.bt-fdt i, .bt-fdt-question i {
		width: 16px;
}


.bt-fdt-blue {
	text-decoration: none;
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	margin: 2px;
}

.bt-fdt-green {
	text-decoration: none;
	background-color: var(--success);
	border: 1px solid var(--success);
	color: var(--white);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	margin: 2px;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: var(--black);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}


#wrapper {
	text-align:left;
	margin:0 auto;
	width:100%;
	min-height:10px;
	border:1px solid var(--gray-light);
	padding: 8px;
}

#wrapper a.header-fdt {
	font-size: 13px;
	cursor: pointer;
}




#myvar {
	border:1px solid #ccc;
	padding:2px;
}




/* END TABLE IN DIBUJARHOJADEENTRADA */




/*#form classes */

.formHead {
	background: #d8dade;
}
/* ABCD ADDED*/


/*   */
.formHead H4 {
	color: #3d5d8a;
}

.formRow LABEL {
	color: #000;
}

.formFoot {
	background: var(--gray-light);
}

.formFoot .helper {
	color: var(--white);
	border-right: 1px solid #8da2c1;
}
h4 {
	color:#3D5D8A;
}
/*#END #form classes */

/* #Loading */
.loading {

}

.loading DIV {
	background: url('../images/loading.gif') no-repeat top center;
}
/* #END #Loading */

/* #colection Title loading */
TD.hideSTitle .showContent {

}

TD.showSTitle {
	background: #f4f4f4 !important;
}

.rowOver TD.showSTitle {
	background: #eaeaea !important;
}

TD.showSTitle .showContent {

}

TD.showSTitle .singleLoading {
	border-top: 1px solid #dadfe7;
	color: #7a7a7a;
}

TD.showSTitle .singleLoading IMG {
	background: url('../images/singleLoading.gif') no-repeat top left;
}

TD.showSTitle .collectionInfo {
	border-top: 1px solid #dadfe7;
}

TD.showSTitle .collectionMode {
	background: var(--white);
}

.rowOver TD.showSTitle .collectionMode {
	background: #f4f4f4;
}

TD.showSTitle .collectionMode A {
	color: #708bb1;
}

TD.showSTitle .collectionMode A:hover {
	color: #000;
	text-decoration: underline;
}

TD.showSTitle .collectionMode A.selected {
	background: #f4f4f4;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

TD.showSTitle .collectionMode A.selected:hover {
	text-decoration: none;
}

.rowOver TD.showSTitle .collectionMode A.selected {
	background: #eaeaea;
}
/* #END #colection Title loading */

/* #Login */
.login .loginForm .boxContent, .formContent {
	background-color: var(--white);
	border: 1px solid var(--light);
	box-sizing: border-box;
}

a.bt-sign {
	text-decoration: none;
	padding: 10px 0;
}

/* #END Login */


/*NAVPAGE OF BROWSER.PHP*/

.navpage {
	float: right;
	margin-right: 50px;
	display: inline-block;
}

.navpage span.current {
    float: left;
}

.navpage span a{
  padding: 10px 15px;
  border-color: var(--light);
  border-style: solid;
	border-width: 1px;
}

.navpage span{
  float: left;
  padding: 10px 5px;
}

.navpage span a {
  color: black;
  text-decoration: none;
}

.navpage span.current {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--success);
  color: var(--white);
  font-weight: bold;
  border: 1px solid var(--white);!important;

}

.navpage span:hover:not(.current) {
    background-color: #ddd;
    border-radius: 3px;
}

/*END NAVPAGE OF BROWSER.PHP*/

/* BUTTONS 2021  */

a.button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 4px;
  text-decoration: none;
}

a.button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.btn_ok {
  width: 50%;
}

.button_browse, a.button_browse, .submit, input[type=submit], input[type=button], input[type=reset]{
	border-radius: 3px;
	text-decoration: none;
	box-sizing: border-box;
	color: var(--white);
	background: var(--bgsectionInfo);
	outline: 0;
	padding: 5px 13px;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 3px;
}

.button_browse:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

.button_browse.show, .submit, input[type=submit], input[type=button] {
/*	background: var(--blue);
	color: var(--light);
	border-color: var(--blue);
	text-decoration: none;
*/
}

.button_browse.show {
	background: var(--bgsectionInfo);
	color: var(--white);
}

.button_browse.edit {
	background: var(--success);
	color: var(--white);
}

.button_browse.delete, .bt-red {
	background: var(--red);
	color: var(--white);
}

.f_right button.showdeleted {
	border: 1px solid #000;
}

.f_right button.showdeleted_on {
	background: var(--success); 
	color: var(--white);
	border: 1px solid #000;

}

.bt {
	margin: 3px;
	width: auto;
	padding: 5px 13px;
	border-radius: 3px;
	text-decoration: none;
}

.bt-green {
	padding: 10px 15px;
	border-radius: 3px;
	text-decoration: none;
	background-color: var(--green);
	border: 1px solid var(--green);
	color: var(--white);
	cursor: pointer;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.bt-green:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
  .bt-green {
    padding: 10px 30px;
  }
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .btn_ok {
    width: 100%;
  }
}

.bt-blue, A.singleButton, .submitAdvanced {
	border-radius: 3px;
	text-decoration: none;
	background-color: var(--blue);
	color: var(--white);
	cursor: pointer;
	outline: 0;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

A.singleButton {
	padding: 10px 15px;
}


a[class^="bt-"] {	
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	text-decoration: none;
}

.bt-blue:hover, A.singleButton:hover, .submitAdvanced:hover, a[class^="bt-"]:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

.bt-gray {
	padding: 10px 15px;
	border-radius: 3px;
	text-decoration: none;
	background-color: #85858f;
	border: 1px solid #85858f;
	color: var(--white);
	cursor: pointer;
	outline: 0;
	padding: 10px 25px;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.bt-gray:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
  .bt-gray {
    padding: 10px 30px;
  }
}

.bt-disabled {
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--gray-light);
	color: var(--gray);
	cursor: default;
	outline: 0;
	padding: 10px 25px;
}

.group-fields {
	background-color: var(--white);
	border: 1px solid var(--light);
	box-sizing: border-box;
	padding: 5px 15px;
	margin: 10px 0;
}

/* STYLE OF /dbadmin/menu_mantenimiento.php */

div.log_base {
	width: 100%;
	color: var(--gray);
	margin-bottom: 16px;

}

div.log_base span {
	margin: 0 12px 0px 0;
}


iframe.menumantenimento {
	width: 100%;
	border: none;

}

html > head > body >div.center {
	background: yellow;
}

html.menumantenimento .heading,
html.menumantenimento .center,
html.menumantenimento #wpadminbar {
  display: none!important;
}

nav {
  display: block;
  text-align: center;
  width:100%;
  background: var(--blue);
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;

}
.nav a {
  display:block;
  background: var(--blue);
  color: var(--white);
  text-decoration: none;
  padding: 0.8em 1.8em;
  font-size: 80%;
  position: relative;
}
.nav{
  vertical-align: top;
  display: inline-block;
  border-radius: 4px;
}
.nav li {
  position: relative;


}
.nav > li {
  float: left;
  margin-right: 1px;

}
.nav > li > a {
  margin-bottom: 1px;
}
.nav > li:hover,
.nav > li:hover > a {
  border-bottom-color: var(--orange);
  background-color: var(--indigo);
  color: var(--white);
}
.nav > li:first-child {
  border-radius: 4px 0 0 4px;
}
.nav > li:first-child > a {
  border-radius: 4px 0 0 0;
}
.nav > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}
.nav li li a:hover {
	background-color: var(--gray-light);
}
.nav li li a {
  margin-top: 1px;
  background: var(--white);
  color: var(--gray-dark);
  border-bottom: 1px solid #a7a6aa;

}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
 }

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
  background: var(--white);
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 1px;
  min-width: 100%;
  border: 1px solid #a7a6aa;
  border-radius: 3px;
}
.nav > li li:hover > ul {
  left: 100%;
  margin-left: 0px;
  top: -6px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}


/* Add padding and center-align text to the container */
.container {
  padding: 45px 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--blue-abcd);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	border-radius: 4px;
  background-color: var(--white);
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}



/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}