/* 2021-03-01 fho4abcd : deleted overruled font-family, font-size
** 2021-06-26 fho4abcd Move distributor logo to php
*/

:root {
  --blue: #3955a3;
  --blue-abcd: #124078;
  --bgsectionInfo: #4a78b0;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #13aa52;
  --teal: #20c997;
  --cyan: #bcd1ef;
  --white: #FBFEFF;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --gray-light: #f5f5f5;
  --primary: #39547a;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #bcd1ef;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #cfd0d1;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
  --bs-body-font-size: 0.8rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
}

/* GENERAL STYLES */

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }


body {
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  -webkit-text-size-adjust: 100%;
  color: var(--bs-body-color);
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

h1, .h1 {
  font-size: calc(0.375rem + 0.5vw);
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 1.3rem;
  }
}

A {
	color: #708bb1;
}

A IMG {
	border: 0px;
}

LABEL {
	cursor: pointer;
}

.formContent > * >.formContent {
	border: none;
	border-width: 0;
	box-shadow: none;
	background: var(--white);
}

.middle.form > * > .middle.form{
	background: var(--white);
}


select.textEntry, INPUT.textEntry, TEXTAREA, input[type=text],input[type=button], select {
	border: 1px solid #a7a6aa;
	padding: 3px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	margin: 1px 0;
}

input[type=text], input[type=password] {
	border: 1px solid #a7a6aa;
	padding: 3px;
	border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);
	box-sizing: border-box;
	margin: 1px 0;
/*color: var(--blue);*/
	font-size: 12px;
	line-height: 18px;
}

textarea.par {
	font-family: monospace;
	border: 1px solid #a7a6aa;
	padding: 3px;
	border-radius: 3px;
  -webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);
	box-sizing: border-box;
	margin: 1px 0;
}

INPUT.textEntryFocus, TEXTAREA.textEntryFocus {
	border-color: #5e88b6;
	background: #fff;
}

INPUT.superTextEntry,
TEXTAREA.superTextEntry,
SELECT.superTextEntry,
INPUT.singleTextEntry,
TEXTAREA.singleTextEntry,
SELECT.singleTextEntry {
	height: 2.3rem ;
  line-height: 1.25rem;
  width: 90%;
	margin: 2px;
}



.row {
    --bs-gutter-x: 1.5rem;
    display: flex;
    flex-wrap: nowrap;
  	margin-top: 20px;
  	margin-bottom: 20px;
    align-content: center;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  margin-top: 20px;
}




/* ABCD CLASSIC */

/* #defaultButton classes */
A.defaultButton {
	text-decoration: none;
	color: #fff;
}

A.defaultButton:hover IMG {
	background-color: #4E617C;
}


A.defaultButton SPAN {
	cursor: pointer;

}

A.defaultButton STRONG {

}

/* #menuButton classes */
A.menuButton {
	text-decoration: none;
	color: #fff;
}

A.menuButton:hover IMG {
	background-color: #4E617C;
}


A.menuButton SPAN {
	cursor: pointer;
}

A.menuButton STRONG {
	color: var(--gray-dark);
	font-weight: 600;
	letter-spacing: 0.02rem;
}


.inputAlert {
	background: #f3eeb5 url('../images/icon/singleButton_alert.gif') no-repeat center right !important;
}

.helper, .helper a {
	background: var(--gray-light);
	color: var(--gray);

}

.helper:before {
	font-weight: 600;
	font-family: "Font Awesome 5 Free";
	content: "\f05a";
	color: var(--gray);
}

.alert {
  color: #664d03;
  background-color: var(--warning);
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
}

.alert:before {
	font-family: "Font Awesome 5 Free";
	content: "\f071";
	color: #664d03;
	margin-right: 10px;
}


.success {
  color: var(--white);
  background-color: var(--success);
	font-weight: bold;
	padding: 8px;
	border-radius: 4px;
}

.success:before {
	font-family: "Font Awesome 5 Free";
	content: "\f071";
	color: var(--yellow);
	margin-right: 10px;
}



A.singleButton .sb_lb {
	background: url('../images/singleButton_lb.gif') no-repeat top left;
}

A.singleButton .sb_rb {
	background: url('../images/singleButton_rb.gif') no-repeat top right;
}

/* #END #defaultButton classes */

/* #specific classes */

/*#heading classes */
.heading {
	background-color: var(--blue-abcd);
}

.institutionalInfo H1, .institutionalInfo H2 {
	letter-spacing: 0.03rem;
}

.institutionalInfo H1 {

	color: #fff;
}

.institutionalInfo H2 {
	font-weight: normal;
	color: var(--white);
}

.userInfo, .userInfo A, .language, .language A {
	font-size: 0.7rem;
	color: var(--white);
}

.language select {
	font-size: 0.6rem;
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	width: 90px;
	margin: 0.1rem 0;
	padding: 1px;	
}

.userInfo A.button_logout {
	background: url('../images/button_logout.gif') no-repeat center right;
	text-decoration: none
}

.userInfo A.button_logout:hover SPAN {
	text-decoration: underline;
}
/* #END #heading classes */

/*#sectionInfo classes */
.sectionInfo {
	background: var(--bgsectionInfo);
}

.breadcrumb H3 {
	color: var(--white);
}

.breadcrumb, .breadcrumb A {
	color: var(--white);
	font-weight: 600;
}

.breadcrumb SUP {
}

.actions, .actions A {
	color: var(--white);
	text-decoration: none;
}
/*#END #sectionInfo classes */

/*#middle classes */
.middle {
	background: var(--gray-light);
	min-height: 100vh;
}
/*#END #middle classes */

/*#footer classes */
.footer {
	border-top: 1px solid var(--light);
	color: var(--gray);
	background: var(--white);
	padding: .8rem;
	-webkit-box-shadow: inset -1px 15px 5px -12px rgba(0,0,0,0.32); 
	box-shadow: inset -1px 15px 5px -12px rgba(0,0,0,0.32);
}

.footer A {
	color: var(--gray);
}

.systemInfo STRONG {

}

/*#END #footer classes */

/*#homepage classes */
.homepage .mainBox {

}

.homepage .mainBox .boxTop {
	background: url('../images/mainBox_boxTop_bg.gif') repeat-x top left;
}

.homepage .mainBox .boxBottom {
	background: url('../images/mainBox_boxTop_bg.gif') repeat-x bottom left;
}

.homepage .mainBox .boxContent {
	background-color: var(--white);
	border: 1px solid var(--light);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
}

.homepage .mainBox .boxTop .btLeft {
	background: url('../images/mainBox_btLeft.gif') no-repeat bottom left;
}

.homepage .mainBox .boxTop .btRight {
	background: url('../images/mainBox_btRight.gif') no-repeat bottom left;
}

.homepage .mainBox .boxBottom .bbLeft {
	background: url('../images/mainBox_bbLeft.gif') no-repeat bottom left;
}

.homepage .mainBox .boxBottom .bbRight {
	background: url('../images/mainBox_bbRight.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxContent {
	background: #fff url('../images/mainBox_boxContent_bg.gif') repeat-x bottom left;
	border-color: #b2c2d4
}

.homepage .mainBoxHighlighted .boxTop {
	background: url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x top left;
}

.homepage .mainBoxHighlighted .boxBottom {
	background: #eff3f8 url('../images/mainBoxHighlighted_boxTop_bg.gif') repeat-x bottom left;
}

.homepage .mainBoxHighlighted .boxTop .btLeft {
	background: url('../images/mainBoxHighlighted_btLeft.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxTop .btRight {
	background: url('../images/mainBoxHighlighted_btRight.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxBottom .bbLeft {
	background: url('../images/mainBoxHighlighted_bbLeft.gif') no-repeat bottom left;
}

.homepage .mainBoxHighlighted .boxBottom .bbRight {
	background: url('../images/mainBoxHighlighted_bbRight.gif') no-repeat bottom left;
}
.homepage .mainBox .boxContent .sectionTitle {
		font-size: 1.5rem;
		padding: 0 8px;
}

.homepage .mainBox .boxContent .sectionTitle H4 {
	font-weight: normal;
}

.homepage .mainBox .boxContent .sectionTitle H4 STRONG {
	color: #265182;
	font-weight: normal;
}

.homepage .mainBox .boxContent .sectionTitle SPAN {
	color: #4c4c4c;
}

.homepage .mainBox .titleSection .sectionIcon {
	background: url('../images/database.png') no-repeat center;
}

.homepage .mainBox .dbSection .sectionIcon {
	background: url('../images/database.png') no-repeat center;
}

.homepage .mainBox .searchSection .sectionIcon {
	background: url('../images/search.png') no-repeat center;
}

.homepage .mainBox .orderSection .sectionIcon {
	background: url('../images/icon/mainBox_titleSection.png') no-repeat center;
}

.homepage .mainBox .fascicleSection .sectionIcon {
	background: url('../images/icon/mainBox_fascicleSection.png') no-repeat center;
}

.homepage .mainBox .maskSection .sectionIcon {
	background: url('../images/icon/mainBox_maskSection.png') no-repeat center;
}

.homepage .mainBox .toolSection .sectionIcon {
	background: url('../images/icon/mainBox_toolSection.png') no-repeat center;
	background-size: contain;
}

.homepage .mainBox .loanSection .sectionIcon {
	background: url('../images/icon/mainBox_loanSection.png') no-repeat center;
}

.homepage .mainBox .helpSection .sectionIcon {
	background: url('../images/icon/mainBox_helpSection.png') no-repeat center;
}


.homepage .mainBox .boxContent .searchTitles .stInput LABEL {
	color: #4c4c4c;
}

.homepage .mainBox .boxContent .searchTitles .stInput INPUT.textEntry {
	background: url('../images/searchTitles_textEntry_bg.gif') no-repeat top left;
	border: 0px none;
}

.homepage .mainBox A.defaultButton:hover IMG {
	background-color: #fff;
}

.homepage .mainBox A.menuButton:hover IMG {
	background-color: #fff;
}
/*#END #homepage classes */

/* #buttons background classes */
A.listButton IMG {
	background: url('../images/icon/defaultButton_list.png') no-repeat center;
}

A.databaseButton IMG {
	background: url('../images/icon/database.png') no-repeat center;
}

A.update_databaseButton IMG {
	background: url('../images/icon/kexi.png') no-repeat center;
}
A.utilsButton IMG {
	background: url('../images/icon/agt_utilities.png') no-repeat center;
}
A.exploreButton IMG {
	background: url('../images/icon/kdisknav.png') no-repeat center;
}
A.newButton IMG {
	background: url('../images/icon/ascii.png') no-repeat center;
}

A.importButton IMG {
	background: url('../images/icon/defaultButton_import.png') no-repeat center;
}

A.exportButton IMG {
	background: url('../images/icon/defaultButton_export.png') no-repeat center;
}

A.reportButton IMG {
	background: url('../images/icon/defaultButton_report.png') no-repeat center;
}

A.toolsButton IMG {
	background: url('../images/icon/tools.png') no-repeat center;
}
A.userButton IMG {
	background: url('../images/icon/defaultButton_user.png') no-repeat center;
}

A.pdfButton IMG {
	background: url('../images/icon/defaultButton_pdf.png') no-repeat center;
}

A.cancelButton IMG {
	background: url('../images/icon/defaultButton_cancel.png') no-repeat center;
}

A.saveButton IMG {
	background: url('../images/icon/defaultButton_save.png') no-repeat center;
}
/*
A.nextButton IMG {
	background: url('../images/icon/defaultButton_next.png') no-repeat center;
}*/

A.backButton IMG {
	background: url('../images/icon/defaultButton_back.png') no-repeat center;
}

A.eraseButton IMG {
	background: url('../images/icon/singleButton_erase.png') no-repeat center;
}

A.indexButton IMG {
	background: url('../images/icon/singleButton_e.png') no-repeat center;
}

A.statButton IMG {
	background: url('../images/icon/kchart.png') no-repeat center;
}
A.suggestButton IMG {
	background: url('../images/icon/suggestions.jpg') no-repeat center;
}
A.requisitionButton IMG {
	background: url('../images/icon/requisition.png') no-repeat center;
}
A.receivingButton IMG {
	background: url('../images/icon/kword.png') no-repeat center;
}
A.biddingButton IMG {
	background: url('../images/icon/bidding.png') no-repeat center;
}
A.checkButton IMG {
	background: url('../images/icon/clean.png') no-repeat center;
}
A.discardButton IMG {
	background: url('../images/icon/trashcan_full.png') no-repeat center;
}
A.copiesdbButton IMG {
	background: url('../images/icon/kmultiple.png') no-repeat center;
}
A.decisionButton IMG {
	background: url('../images/icon/kexi_kexi.png') no-repeat center;
}
A.resumeButton IMG {
	background: url('../images/icon/spreadsheet.png') no-repeat center;
}
A.pendingButton IMG {
	background: url('../images/icon/file-manager.png') no-repeat center;
}

A.resetButton IMG {
	background: url('../images/icon/agt_reload.png') no-repeat center;
}
A.z3950Button IMG {
	background: url('../images/icon/defaultButton_import.png') no-repeat center;
}
A.copiesdbaddButton IMG {
	background: url('../images/icon/db_update.png') no-repeat center;
}
A.loanButton IMG{
	background: url('../images/icon/loan.png') no-repeat center;
}
A.returnButton IMG{
	background: url('../images/icon/return.png') no-repeat center;
}
A.renewButton IMG{
	background: url('../images/icon/renew.png') no-repeat center;
}
A.sanctionsButton IMG{
	background: url('../images/icon/sanctions.png') no-repeat center;
}
A.statusitemButton IMG{
 	background: url('../images/icon/statusitem.png') no-repeat center;
}
A.userstatmentButton IMG{
 	background: url('../images/icon/userstatment.png') no-repeat center;
}
A.userhistoryButton IMG{
 	background: url('../images/icon/userhistory.png') no-repeat center;
}
A.transactionsButton IMG{
 	background: url('../images/icon/transactions.png') no-repeat center;
}
A.statisticsusersButton IMG{
 	background: url('../images/icon/statisticsusers.png') no-repeat center;
}

A.statisticsanctionsButton IMG{
 	background: url('../images/icon/statisticsanctions.png') no-repeat center;
}

A.newsuggestionButton IMG{
 	background: url('../images/icon/newsuggestion.png') no-repeat center;
}
A.providersButton IMG{
 	background: url('../images/icon/providers.png') no-repeat center;
}
A.purchaseorderButton IMG{
 	background: url('../images/icon/purchaseorder.png') no-repeat center;
}
A.createpurchaseorderButton IMG{
 	background: url('../images/icon/createpurchaseorder.jpg') no-repeat center;
}
A.approvedsuggestionsButton IMG{
 	background: url('../images/icon/approvedsuggestions.png') no-repeat center;
}
A.origendatabaseButton IMG{
 	background: url('../images/icon/basededatosorigen.png') no-repeat center;
}
A.usersconfigureButton IMG{
 	background: url('../images/icon/usersconfigure.png') no-repeat center;
}
A.userstypeButton IMG{
 	background: url('../images/icon/userstype.png') no-repeat center;
}
A.itemstypeButton IMG{
 	background: url('../images/icon/itemstype.png') no-repeat center;
}
A.loanpolicyButton IMG{
 	background: url('../images/icon/loanpolicy.png') no-repeat center;
}
A.currency_daysButton IMG{
 	background: url('../images/icon/currency_days.png') no-repeat center;
}
A.calendarButton IMG{
 	background: url('../images/icon/calendar.png') no-repeat center;
}
A.receiptsButton IMG{
 	background: url('../images/icon/receipts.png') no-repeat center;
}
A.reportsButton IMG{
 	background: url('../images/icon/reports.png') no-repeat center;
}
A.reserveButton IMG{
 	background: url('../images/icon/reservar.png') no-repeat center;
}
A.homeButton IMG{
 	background: url('../../images/icon/home.png') no-repeat center;
}
/*#END #buttons background classes */

/*#list classes */
/*
.searchBox {
	background: #f2f2f2;
}

.searchBox LABEL {
	color: #848484;
}

.searchBox INPUT.index {
	border: 1px solid #8395a7;
	background: #c8d6e5;
	color: #222f3e;
}

.searchBox INPUT.submitAdvanced {
	border: 0px none;
	background: url('../images/searchBox_submitadvanced_bg.gif')  top left;
	color: #848484;
}
*/


.statTable {
	border-collapse: collapse;
	border-spacing: 0px;
}

.statTable TH {
	border-right: 1px solid #9d9d9d;
	background: #848484;
	border-bottom: 3px solid #848484;
	color: #fff;
	cursor: pointer;
	border:1px solid #9d9d9d;
}

/* Table Browser */

.listTable {
	border-collapse: collapse;
	border-spacing: 0px;
	margin: 25px 0;
	background: var(--white);
}

.listTable th {
	background: var(--white);
	color: #000;
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.listTable.browse tr:first-child {
	border-bottom: 2px solid #c9c9c9;
}

.listTable.browse tr:last-child {
	border-top: 2px solid #c9c9c9;
}	

.listTable TH.checkboxes,
.listTable TH.action {
	cursor: default;
}

.listTable TD {
	border-bottom: 1px solid #e7e7e7;
	background: var(--white);
}

.listTable .tButton {
	background: #bdced3;
	color: #000;
	text-decoration: none;
}

.listTable .tErase {
	background: #dfbfbf;
}

.listTable .rowOver TD {
	background: #f4f4f4;
	border-bottom-color: #ddd;
}

.listTable .rowOver .tButton:hover {
	background: #88a6d3;
	color: #fff;
}

.listTable .rowOver .tErase:hover {
	background: #d36666;
}

.tMacroActions .checkboxAction {
	background: url('../images/checkboxAction_bg.gif') no-repeat top left;
}
/*#END #listTable classes */

/* TABLE IN DIBUJARHOJADEENTRADA */

/*TOOLBAR*/
body.toolbar-dataentry {
	background: var(--gray-light);
	margin: 6px;
	color: var(--bgsectionInfo);
}

.GenerarWks {
	float: right;
}

#toolbarBox {
	float: left;
}

table.toolbar-dataentry {
	width:100%;
	border-spacing: 0px;
	border-collapse: collapse;
	padding: 8px;
	border-bottom: 1px solid var(--cyan);
}

.toolbar-dataentry td {
	vertical-align: middle;
}

table.toolbar-dataentry select, table.toolbar-dataentry input {
	font-size: 12px;
	width: 100px;
}

.toolbar-dataentry a {
	color: var(--bgsectionInfo);
	padding: 8px;

}

.toolbar-dataentry a:hover {
	background: #7da3c6;
	color: var(--white);
}

.ph-10 {
	padding: 2px 10px;
}

.defaultButtonText{
	font-size: 11px;
	cursor:pointer;
}


.buttonTextDisabled {
	color: gray;
}

.defaultButton {
	fill: var(--white);
	height: 24px;
	width: 32px;
	padding: 4px 0;
}


td.defaultButton img {
    filter: invert(90%) sepia(50%) saturate(3880%) hue-rotate(189deg) brightness(100%) contrast(100%);
    vertical-align: middle;
    text-align: center;

    }

.defaultButtonDown {
	background-color : var(--gray-light);
	cursor : pointer;
	height: 24px;
	width: 32px;
	padding: 4px 0;
	text-align: center;
}

.defaultButtonOver {
	height: 24px;
	width: 32px;
	padding: 4px 0;
	background-color : var(--gray);
	cursor : pointer;
	filter: invert(1)
}

.icongray {
/*	border : solid 1px var(--bgsectionInfo);*/
	cursor : default;
}

/*
.toolbarDivider {
	background-color : var(--white);
	border-right : solid #FFFFFF 1px;
	height : 100%;
	margin-bottom : 2px;
	margin-top : 1px;
	overflow : hidden;
	vertical-align : middle;
}

.toolbarDividerY {
	background-color : var(--bgsectionInfo);
	border-bottom : none;
	border-top : none;
	height : 2px;
	overflow : hidden;
	width : 100%;
}


.toolbarName{
	letter-spacing : 3px;
	padding-left : 10px;
	padding-right : 10px;
}
*/
.toolbarTable{
	border: none;
	margin : 0px;
	padding : 0px;
	table-layout : fixed;
}


/*END TOOLBAR*/

/* SECOND TOOLBAR */


/* END SECOND TOOLBAR */




.table-fdt {
	border-collapse: collapse;
	border-spacing: 0px;
	background: var(--white);
}

.table-fdt th {
	background: var(--white);
	color: #000;
	cursor: pointer;
	padding: 8px;
	font-weight: bold;
}

.table-fdt.browse tr:first-child {
	border-bottom: 2px solid var(--gray-light);
}

.table-fdt.browse tr:last-child {
	border-top: 2px solid var(--gray-light);
}	

.table-fdt TH.checkboxes,
.table-fdt TH.action {
	cursor: default;
}

.table-fdt td, .table-fdt tbody tr td {
	border-bottom: 1px solid var(--gray-light);
	padding: 4px 6px;
/*	background: var(--white);*/
  display: table-cell;
  vertical-align: middle;

}


.table-fdt > tbody > tr > td > input[type=text], 
.table-fdt > tbody > tr > td > input[type=password], 
.table-fdt > tbody > tr > td > input[type=radio], 
.table-fdt > tbody > tr > td > textarea, 
.table-fdt > tbody > tr > td > select {
	margin: 2% 10px;
	font-size: 13px;
	color: var(--blue);
	line-height: 12px;
	padding: 8px;
	box-shadow: none;
	-webkit-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  -moz-box-shadow: inset 1px 1px 3px 0.1px var(--light);
  box-shadow: inset 1px 1px 3px 0.1px var(--light);

}

td.input-fdt {
	align-content: center;
	vertical-align: middle;
	margin: auto;
}

.table-fdt .tButton {
	background: #bdced3;
	color: #000;
	text-decoration: none;
}

.table-fdt .tErase {
	background: #dfbfbf;
}

.table-fdt .rowOver .tButton:hover {
	background: #88a6d3;
	color: #fff;
}

.table-fdt .rowOver .tErase:hover {
	background: #d36666;
}


/* TAG */
td.table-fdt-one {
	width: 50px;
}


/* BUTTONS */
.table-fdt-two {
	width: 130px;
}

/* NAME OF FIELD */
.table-fdt-three {
	width: 150px;
	font-size: 12px;
}

/* INPUT FORM */
.table-fdt-four {
	width: 600px;
}


[class^="bt-fdt"] {
	height: 10px;
	padding: 8px;
	display: inline;
	vertical-align: middle;
}


.bt-fdt{
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--blue);
	border-radius: 3px;
	color: var(--blue);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	touch-action: manipulation;
	vertical-align: middle;
	margin: 2px;
	width: 10px;

}

.bt-fdt-help{
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--cyan);
	border-radius: 3px;
	color: var(--cyan);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	touch-action: manipulation;
	vertical-align: middle;

}


.bt-fdt-question {
	text-decoration: none;
	text-align: center;
	background-color: var(--white);
	border: 1px solid var(--cyan);
	border-radius: 3px;
	color: var(--cyan);
	cursor: pointer;
	font-weight: normal;
	font-size: 12px;
}

.bt-fdt i, .bt-fdt-question i {
		width: 16px;
}


.bt-fdt-blue {
	text-decoration: none;
	background-color: var(--blue);
	border: 1px solid var(--blue);
	border-radius: 3px;
	color: var(--white);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	margin: 2px;
}

.bt-fdt-green {
	text-decoration: none;
	background-color: var(--success);
	border: 1px solid var(--success);
	border-radius: 3px;
	color: var(--white);
	cursor: pointer;
	font-size: 12px;
	font-weight: normal;
	margin: 2px;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: var(--black);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}


#wrapper {
	text-align:left;
	margin:0 auto;
	width:100%;
	min-height:10px;
	border:1px solid var(--gray-light);
	padding: 8px;
}

#wrapper a.header-fdt {
	font-size: 13px;
	cursor: pointer;
}




#myvar {
	border:1px solid #ccc;
	padding:2px;
}




/* END TABLE IN DIBUJARHOJADEENTRADA */




/*#form classes */

.formHead {
	background: #d8dade;
}
/* ABCD ADDED*/


/*   */
.formHead H4 {
	color: #3d5d8a;
}

.formRow LABEL {
	color: #000;
}

.formFoot {
	background: var(--gray-light);
}

.formFoot .helper {
	color: #fff;
	border-right: 1px solid #8da2c1;
}
h4 {
	color:#3D5D8A;
}
/*#END #form classes */

/* #Loading */
.loading {

}

.loading DIV {
	background: url('../images/loading.gif') no-repeat top center;
}
/* #END #Loading */

/* #colection Title loading */
TD.hideSTitle .showContent {

}

TD.showSTitle {
	background: #f4f4f4 !important;
}

.rowOver TD.showSTitle {
	background: #eaeaea !important;
}

TD.showSTitle .showContent {

}

TD.showSTitle .singleLoading {
	border-top: 1px solid #dadfe7;
	color: #7a7a7a;
}

TD.showSTitle .singleLoading IMG {
	background: url('../images/singleLoading.gif') no-repeat top left;
}

TD.showSTitle .collectionInfo {
	border-top: 1px solid #dadfe7;
}

TD.showSTitle .collectionMode {
	background: #fff;
}

.rowOver TD.showSTitle .collectionMode {
	background: #f4f4f4;
}

TD.showSTitle .collectionMode A {
	color: #708bb1;
}

TD.showSTitle .collectionMode A:hover {
	color: #000;
	text-decoration: underline;
}

TD.showSTitle .collectionMode A.selected {
	background: #f4f4f4;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

TD.showSTitle .collectionMode A.selected:hover {
	text-decoration: none;
}

.rowOver TD.showSTitle .collectionMode A.selected {
	background: #eaeaea;
}
/* #END #colection Title loading */

/* #Login */
.login .loginForm .boxContent, .formContent {
	background-color: var(--white);
	border: 1px solid var(--light);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
}

a.bt-sign {
	text-decoration: none;
}

/* #END Login */


/*NAVPAGE OF BROWSER.PHP*/

.navpage {
	float: right;
	margin-right: 50px;
	display: inline-block;
}

.navpage span.current {
    float: left;
}

.navpage span a{
  padding: 10px 15px;
  border-color: var(--light);
  border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}

.navpage span{
  float: left;
  padding: 10px 5px;
}

.navpage span a {
  color: black;
  text-decoration: none;
}

.navpage span.current {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--success);
  color: var(--white);
  font-weight: bold;
  border: 1px solid var(--white);!important;

}

.navpage span:hover:not(.current) {
    background-color: #ddd;
    border-radius: 3px;
}

/*END NAVPAGE OF BROWSER.PHP*/

/* BUTTONS 2021  */


.button_browse, .submit, input[type=submit]{

	border-width: 1px;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 5px 13px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 2px;
}



.button_browse:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}



.button_browse.show, .submit, input[type=submit], input[type=button] {
	background: var(--blue);
	color: var(--light);
	border-color: var(--blue);

}

.button_browse.show:hover {
	border: 1px solid var(--blue);!important;
	color: var(--white);
}

.button_browse.edit {
	background: var(--success);
	color: var(--white);
}

.button_browse.edit:hover {
	border: 1px solid var(--green)!important;
	color: var(--white);
}

.button_browse.delete {
	background: var(--red);
	color: var(--white);
}

.button_browse.delete:hover {
	border: 1px solid var(--red)!important;
	color: var(--white);
}

.f_right button.showdeleted {
	border: 1px solid #000;

}
.f_right button.showdeleted_on {
	background: var(--success); 
	color: var(--white);
	border: 1px solid #000;

}

.bt {
	margin: 3px;
	width: auto;
}

.bt-green {
	text-decoration: none;
	background-color: var(--green);
	border: 1px solid var(--green);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.bt-green:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
  .bt-green {
    padding: 10px 30px;
  }
}

.bt-blue, A.singleButton, .submitAdvanced {
	text-decoration: none;
	background-color: var(--blue);
	border: 1px solid var(--blue);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.bt-blue:hover, A.singleButton:hover, .submitAdvanced:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
  .bt-blue {
	padding: 10px 30px;
  }
}

.bt-gray {
	text-decoration: none;
	background-color: #85858f;
	border: 1px solid #85858f;
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 400;
	outline: none;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
	transform: translateY(0);
	transition: transform 150ms, box-shadow 150ms;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.bt-gray:hover {
	box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
	transform: translateY(-2px);
}

@media (min-width: 768px) {
  .bt-gray {
    padding: 10px 30px;
  }
}

.bt-disabled {
	text-decoration: none;
	background-color: var(--white);
	border: 1px solid var(--gray-light);
	border-radius: 3px;
	box-sizing: border-box;
	color: var(--gray);
	cursor: default;
	font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
	font-weight: 400;
	outline: 0;
	padding: 10px 25px;
	text-align: center;
}


.group-fields {
	background-color: var(--white);
	border: 1px solid var(--light);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
	box-sizing: border-box;
	padding: 5px 15px;
	margin: 10px 0;
}

/* STYLE OF /dbadmin/menu_mantenimiento.php */

div.log_base {
	width: 100%;
	color: var(--gray);
	margin-bottom: 16px;

}

div.log_base span {
	margin: 0 12px 0px 0;
}


iframe.menumantenimento {
	width: 100%;
	border: none;

}

html > head > body >div.center {
	background: yellow;
}

html.menumantenimento .heading,
html.menumantenimento .center,
html.menumantenimento #wpadminbar {
  display: none!important;
}

nav {
  display: block;
  text-align: center;
  width:100%;
  background: var(--blue);
}
nav ul {
  margin: 0;
  padding:0;
  list-style: none;

}
.nav a {
  display:block;
  background: var(--blue);
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.8em;
  font-size: 80%;
  position: relative;
}
.nav{
  vertical-align: top;
  display: inline-block;
  border-radius: 4px;
}
.nav li {
  position: relative;


}
.nav > li {
  float: left;
  margin-right: 1px;

}
.nav > li > a {
  margin-bottom: 1px;
}
.nav > li:hover,
.nav > li:hover > a {
  border-bottom-color: var(--orange);
  background-color: var(--indigo);
  color: var(--white);
}
.nav > li:first-child {
  border-radius: 4px 0 0 4px;
}
.nav > li:first-child > a {
  border-radius: 4px 0 0 0;
}
.nav > li:last-child {
  border-radius: 0 0 4px 0;
  margin-right: 0;
}
.nav > li:last-child > a {
  border-radius: 0 4px 0 0;
}
.nav li li a:hover {
	background-color: var(--gray-light);
}
.nav li li a {
  margin-top: 1px;
  background: var(--white);
  color: var(--gray-dark);
  border-bottom: 1px solid #a7a6aa;

}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right:5px;
 }

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
  background: var(--white);
}
.nav > li:hover > ul {
  left: auto;
  margin-top: 1px;
  min-width: 100%;
  border: 1px solid #a7a6aa;
  border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
}
.nav > li li:hover > ul {
  left: 100%;
  margin-left: 0px;
  top: -6px;
}
/* arrow hover styling */
.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #aaa;
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: orange;
  right: 10px;
}