/*
2022-01-17 rogercgui add colors.css and buttons.css
2022-01-24 rogercgui add normalize to reset css
*/

@import url(./normalize.css);

/* System colour library */
@import url(./colors.css);

/* Button library */
@import url(./buttons.css);

/* Paddings */
@import url(./spaces.css);

/* Columns */
@import url(./columns.css);

/* Main CSS - Unified style of the old style.css and layout.css */
@import url(./main.css);

/* style rule: para correção de erros para float */
DIV.spacer {
	font-size: 1px !important;
	margin: 0px !important;
	padding: 0px !important;
	float: none !important;
	clear: both !important;
	width: 100% !important;
	height: 1px !important;
}